[2021-08-09 19:08] robertloredo opened #1 "Quantum Image Processing - Filters"
# Description
The idea of this project is build a quantum image processing filter that illustrates the potential which quantum computers have in the processing of large amounts of image data. We'll begin by exploring the various image filters that are most widely used in various industries such as medical imaging (life-sciences industry), or risk analysis (insurance industry) and familiarize ourse

[2021-08-10 16:57] JavaFXpert opened #2 "Create Qiskit Textbook learning path for Qiskit Developer Certification Exam preparation"
# Description
Using the new learning path functionality, create a Qiskit Textbook learning path that helps folks prepare to take the Qiskit Developer Certification Exam.

# Mentor/s
James Weaver, Frank Harkins

# Type of participant
Developer that is skilled in using Qiskit fundamental APIs.

# Number of participants
2 - 4

# Deliverable
Learning path in Qiskit Textbook that leads someone with cla

[2021-08-10 23:21] attp opened #4 "Create Qiskit Textbook Sections for Unsupervised Learning"
# Description
We are currently writing a chapter for the Qiskit Textbook on quantum machine learning. The contents will be:
- Introduction
    - Parameterized Quantum Circuits
    - Data Encoding
- Supervised Learning
    - Variational Quantum Classification
    - Quantum Kernel Estimation
- _Unsupervised Learning_
    - _Quantum Boltzmann Machines_
    - _Quantum Generative Adversarial Networks_

[2021-08-11 15:34] mrossinek opened #5 "Integrate `AdaptVQE` with Qiskit Terra's gradients"
# Description

The goal of this project, is to refactor the implementation of `AdaptVQE` (in Qiskit Nature) to make use of the native gradient functionality included in Qiskit Terra.

## History:
The adaptive VQE was originally implemented in Qiskit Aqua as the outcome of the Qiskit Hackathon Europe 2019, [link](https://github.com/Qiskit/qiskit-aqua/pull/685). Since then, it has already been refac

[2021-08-11 16:30] IceKhan13 opened #6 "Qiskit Ecosystem"
# Description

Build central repository for Qiskit Ecosystem.

The Ecosystem consists of projects, tools, utilities, libraries and tutorials from a broad community of developers and researchers. The goal of the Ecosystem is to recognize, support and accelerate development of quantum technologies using Qiskit.

Repository will be fully automated to accept submission for membership and update lists

[2021-08-12 04:08] dsierrasosa opened #7 "Computing Rigid Body Rotations with Qiskit"
# Description
This project aims to study the feasibility of using current Quantum Computing devices to implement a method to compute the [Euler-Rodrigues Parameters (ERP)](https://en.wikipedia.org/wiki/Euler%E2%80%93Rodrigues_formula). These parameters allow for defining a transformation matrix to calculate rigid body rotations, useful for applications in computer vision, mechanical simulations, a

[2021-08-12 14:00] t-imamichi opened #8 "Add benchmarking codes of Qiskit Optimization"
# Description
Qiskit Applications (Optimization, Finance, Nature, ML) have recently started benchmarking.
Currently we have only a benchmarking code of Maxcut of Qiskit Optimization.
This project aims at implementing more benchmarking codes of Qiskit Optimization.

Qiskit Applications Benchmarks repo: https://github.com/Qiskit/qiskit-app-benchmarks
Maxcut benchmark: https://qiskit.github.io/qiskit

[2021-08-12 14:57] pbark opened #9 "Create tools for the protein folding problem in Qiskit Nature"
# Description
Protein folding is the newest sampling problem to be released in qiskit nature 0.2.0. We would like to implement some convenience tools and extend the implementation to allow for better result interpretation and visualization of the final output.

Related issues from qiskit-nature:
https://github.com/Qiskit/qiskit-nature/issues/313
https://github.com/Qiskit/qiskit-nature/issues/235
h

[2021-08-13 06:33] Geomon-Joshy commented on #2
The current version of the Qiskit Textbook does not follow any particular order . It would be much preferable if the text book started with topics and progressed to the toughest topics step by step according to the toughness of each topics

[2021-08-13 07:37] TigrisCallidus opened #11 "Creating a game with Qisge and write a step by step guide on how to do it."
# Description
We would like to use our game engine Qisge https://github.com/qiskit-community/Qisge to teach programming to High School students and other non technical people. Therefore, it would be good to have interesting demo games made for Qisge and having some step by step guides on how to make such a game. Your Job would be to make a game in Qisge using Python and Qiskit. The game must use q

[2021-08-13 08:14] nkanazawa1989 opened #12 "Benchmarking crosspoint calibration"
# Description

This project is associated with qubit calibration, qiskit-experiment, and Qiskit pulse.

To fine tune the control pulse parameters, we conventionally use the [ping-pong](https://qiskit.org/documentation/experiments/stubs/qiskit_experiments.library.calibration.FineAmplitude.html#qiskit_experiments.library.calibration.FineAmplitude
) calibration technique. This amplifies the error of

[2021-08-13 17:08] adekusar-drl opened #13 "Add performance benchmarks for Qiskit Machine Learning"
# Description
Qiskit Applications (Optimization, Finance, Nature, ML) have recently started working on performance benchmarks. By performance we understand various metrics like executing time, required memory and other specific metrics, e.g. score, that may arise in the benchmarks. Currently we don't have anything in Qiskit Machine Learning. This project aims at building a set of such benchmarks a

[2021-08-13 17:29] adekusar-drl opened #14 "Analyze and improve performance of Qiskit Machine Learning"
# Description

This activity closely related to #13 and may be considered together depending on the number of participants. Current QML algorithms may take significant time to run and they definitely require improvements in terms of execution time. For instance, a simple classification example taken from the readme page: https://github.com/adekusar-drl/qiskit-machine-learning may run up to 1.5 min

[2021-08-18 16:33] quantum-quant opened #15 "Interactive circuit schematic for Qiskit Metal"
# Description
When you want to show or understand an electrical circuit diagram, is it your instinct to sketch it out or write lines of code to generate it? The former is probably your answer. Of course, programmatically generating a circuit schematic is highly efficient and necessary at times but drawing a circuit schematic node by node, branch by branch, is most likely what you are used to, whet

[2021-08-18 16:34] marcolincs opened #16 "Qiskit Metal to cloud-ready"
Description
Empowering a new community of students, academics and professionals with the latest and greatest Quantum design tools is an exciting endeavor, yet very challenging. One of the major roadblocks can be the accessibility of those tools. Open Source distribution grants access to the code, but it hardly helps when it comes to lowering the usability gap. Indeed, downloading, installing, sett

[2021-08-18 20:56] nbronn opened #17 "Qiskit compatibility with Parameters"
# Description
The `Parameter` and `ParameterExpression` classes in Qiskit allow for the construction and manipulation of circuits with symbolic expressions, which can be bound to numeric values later, allowing flexibility across many Qiskit modules. This is especially useful in (classical) computationally intensive steps where the same procedure would need to be repeated for each value of the para

[2021-08-18 22:21] nbronn opened #18 "Circuit/Pulse optimization across different quantum hardware modalities"
# Description
While Qiskit is nominally a hardware-agnostic platform for gate-based quantum computing, the current transpiler (which takes an "abstract" quantum circuit to one that can be implemented on the available hardware) is more optimized for superconducting qubits (i.e., 2-qubit gates, immutable qubits, static couplings, etc). In order to expand the Qiskit ecosystem to different hardware mo

[2021-08-19 10:30] tula3and commented on #16
I am interested in this project! I worked for two cloud projects using IBM Cloud: (1) [Making a database for cloud](https://github.com/tula3and/making-cloud-database) and (2) [Quantum Ugly Duckling](https://github.com/rochisha0/quantum-ugly-duckling).

[2021-08-19 11:36] mtreinish opened #20 "Good first issues in retworkx"
# Description
[retworkx](https://github.com/Qiskit/retworkx) is a high performance general purpose graph library for python3 written in Rust to take advantage of the performance and safety that Rust provides. It was built as a replacement for Qiskit's previous networkx usage (hence the name) but is designed to provide a high performance general purpose graph library for any python application. The

[2021-08-19 12:04] vabarbosa opened #21 "Update content for Textbook Beta"
# Description

The textbook is currently in transition to a new platform that allows for new features and functionality to improve the overall learning experience. While migrating to this new platform, we are taking the opportunity to further improve many of the existing chapters by including quizzes, animations, widgets, and other interactive components.

In this project the advocate will:

- Lea

[2021-08-19 12:54] coruscating opened #22 "Discriminator projects in qiskit-experiments"
# Description
Three improvements to the basic discriminator in qiskit-experiments:
- Allow for discriminator to output to a mixed state instead of 0 and 1
- Implement LDA and QDA in numpy, without using scikit-learn
- Discriminator for |0>, |1>, and |2> states, allow for the output of excited state promoted readout to be classified

# Mentor/s
me

# Type of participant
Knows Python and LDA, QDA

#

[2021-08-19 14:22] jwoehr opened #23 "OpenQASM 3 Reference Implementation"
# Description
Begin a reference implementation of OpenQASM 3 that can be updated as details of the specification necessarily change somewhat.

The new version of the Open Quantum Assembler has a reference grammar written in Apache ANTLR4.

The mentor has already used a subset of the grammar to create an OpenQASM 2 implementation. We can evolve that concept towards an OpenQASM 3.

# Mentor/s
Jack W

[2021-08-19 15:24] 0sophy1 commented on #12
impressive!!

[2021-08-19 16:08] kdk opened #24 "Build a timeline debugger for the Qiskit transpiler"
# Description

The Qiskit transpiler and `PassManager` have built-in logging and callback mechanisms to "open the hood" and help users understand what changes are being made to their circuit, at which stage in the process, and why. These tools have also been invaluable in investigating and debuggging issues in the transpiler.  However, issues often require writing specialized callback functions wh

[2021-08-19 16:35] kdk opened #25 "Good first issues and short proejcts in qiskit-terra"
# Description
Qiskit Terra maintains lists of issues believed to be either 1) good starting points into qiskit development, or 2) short, self-contained projects that will each implement a meaningful chunk of functionality.

- [Good first issues](https://github.com/Qiskit/qiskit-terra/issues?page=1&q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22)
- [Short projects](https://github.com/Qiskit/q

[2021-08-19 17:15] adekusar-drl opened #26 "Convert classical ML examples into quantum tutorials"
# Description

Quantum machine learning is gaining momentum and becoming more and more popular across machine learning researchers. This project aims facilitating smooth transition from classical to quantum machine learning algorithms for those who are already proficient in classical ML. The goal of this project is to pick up a small classical machine learning dataset and an ML problem, e.g. class

[2021-08-19 19:27] e-eight opened #27 "Add Qistkit Nature demonstrations for physics problems"
# Description
Currently most of the tutorials in Qiskit Nature deal with solving problems in quantum chemistry, and they are very much tied to the use of molecular Hamiltonians, and quantum chemistry frameworks like PySCF. However there are problems in quantum physics which can be solved using the same quantum computing principles. Some examples can be found at https://arxiv.org/abs/1801.03897, ht

[2021-08-19 19:39] e-eight opened #28 "Add implementations of variational quantum algorithms for excited states to Qiskit"
# Description
VQE is probably the most well known variational quantum algorithm, and it is used to find the ground state energy of quantum systems. There is a growing interest in using quantum algorithms to find the energies of excited states of quantum systems. Several extensions of VQE have been developed for that purpose. Some of them can be found [here](https://quantaggle.com/algorithms/algori

[2021-08-19 22:15] SaraM92 commented on #2
My name is Sara, I am a new advocate and I am interested in this project.

[2021-08-20 06:45] leo07010 commented on #7
This topic is very interesting. I have always wanted to use quantum computing to solve mechanics problems.

[2021-08-20 10:48] a-matsuo opened #29 "Constraint Specific VQE Entanglers"
# Description
The idea is to study VQE applications and identify a viable problem to design custom parametrized quantum circuits for and verify/build upon results from the following papers:
1. [Problem-specific Parameterized Quantum Circuits of the VQE Algorithm for Optimization Problems](https://arxiv.org/abs/2006.05643)
2. [Variational Quantum Eigensolver and Its Applications](https://doi.org/10

[2021-08-20 10:49] starktech23 commented on #29
I'm working on it, thanks!

[2021-08-20 10:49] a-matsuo commented on #29
Cool!

[2021-08-20 12:38] wslu42 commented on #11
I am very interested in creating quantum games and also want to promote non-technical game developers!

[2021-08-20 15:12] qiaoyi213 commented on #9
My name is QiaoYi Lin. I'm interested in this topic. I very want to contributed to qiskit especially biological computing and protein folding problem.

[2021-08-20 15:19] HuangJunye commented on #29
Note to other advocates: this project is already matched by prior communication between mentor and mentee and so is not open for application.

[2021-08-20 15:21] HuangJunye commented on #28
This is a great idea. Are you looking for mentor? @woodsp-ibm would you like to mentor this project?

[2021-08-20 15:24] HuangJunye commented on #27
@e-eight Do you want to co-mentor this project or are you looking for a mentor? In either case, @woodsp-ibm may be interested. Can you two discuss over here or on Slack about this project?

[2021-08-20 15:33] HuangJunye commented on #22
Note to other advocates: this project is already matched by prior communication between mentor and mentee and so is not open for application.

[2021-08-20 17:48] mickahell commented on #6
Hi :) I used to develop CI, mainly on GitLab (at my work) but I also know Actions and I always try to automatize build, test and deployment on my personals projects with Actions. I like doing this kind of stuff to automate everything I can 🤖

[2021-08-20 17:59] e-eight commented on #28
Yes, I am looking for a mentor for this.

[2021-08-20 18:00] e-eight commented on #27
Yes, I would like to co-mentor this project. I will discuss with @woodsp-ibm.

[2021-08-20 21:30] singhmeet11 commented on #9
Hi @pbark and @dlasecki, I am really interested in protein folding problem as it will be really helpful in drug discovery in the upcoming years. As a matter of fact I have been pursuing a project related to the same using a different approach, the Quantum Alternating Operator  Ansatz.

I was wondering what kind of upgrades do you have in mind ?

And I think your paper "Resource-Efficient Quantum A

[2021-08-20 21:32] SiddharthaMorales commented on #27
I have two masters' in theoretical physics. I'd like to contribute in this project

[2021-08-20 21:36] SiddharthaMorales commented on #26
I'd like to contibute in this issue if possible

[2021-08-20 21:36] f0402043 commented on #1
Since Quantum and classical image processing are my recent main interest, I always wanted to develop and dive into this topic and its application. This project topic looks really interesting and can't wait to join this project.

[2021-08-20 22:48] amirebrahimi opened #30 "QEC/mitigation-related project"
# Description
I don't have a specific project in mind, but creating a topic here in case there are any mentors in this area. I'd like to do some research / work either in QEC or error mitigation. One in-between area is error detection via flag qubits.

# Mentor/s
Looking for mentors

# Type of participant
<What are the profiles of the ideal participants for this idea?>

# Number of participants
1-

[2021-08-21 02:38] dr-data commented on #21
Interested in educational project!

[2021-08-21 03:31] areeq-hasan commented on #18
Wow this sounds so cool, I'd be really interested in exploring this!

[2021-08-21 07:15] bala-ceg opened #31 "Quantum Internet Simulator"
# Description
I am a beginner in the field of QC. I am a Quantum and Network enthusiast.
Out of my  enthusiasm, I proposing the project End to End Quantum Internet software Simulator discussed in the below documents
The document references:
https://datatracker.ietf.org/doc/draft-irtf-qirg-quantum-internet-use-cases/

Paper from Mitesh https://arxiv.org/pdf/2003.06397.pdf

# Mentor/s
Looking for th

[2021-08-21 07:34] adarsh1chand commented on #26
Interested to contribute.

[2021-08-21 07:39] EACMichiels opened #32 "Solving the Navier-Stokes Equations using Qiskit for Water Management Challenges"
# Description
Water management challenges occur increasingly all over the world: managing the scarcity of water resources, predicting and coping with floods, assuring sufficient water quality, provisioning water for people, animals, agriculture and industry, are just some examples. A recognized approach to understand the behavior of water and other fluids is Computational Fluid Dynamics or CFD. Es

[2021-08-21 07:40] adarsh1chand commented on #11
Interested to contribute. Have experience with Unity and qiskit.

[2021-08-21 07:40] bala-ceg commented on #6
Hi @IceKhan13, I am a network software developer have theoretical knowledge about the CI process. I worked on automating unit tests. I would very much like to be part of this project.

[2021-08-21 12:15] gunchamalik commented on #26
I do not have knowledge on Quantum Machine Learning. I had done basic machine learning course about 3 years back. I will be interested in learning Quantum Machine Learning and contributing to the tutorials.

[2021-08-21 12:21] gunchamalik commented on #7
I haven't been in touch with Linear Algebra post college, but brushed up the knowledge a but while studying for Qiskit Developer Certification. I am not to what extent this project will require knowledge on Linear Algebra. I will be interested in learning and contributing to this project, if possible.

[2021-08-21 17:35] Denny-Hwang commented on #1
I am interested in this topic. Although I am not familiar with quantum image processing, nowadays I'm working with classical Image processing (like Opencv..) as a preprocessing of my ML model. Also, I am ready to deep dive into this project!

[2021-08-21 18:11] darshkaushik commented on #1
I have experience in classical convolutional filters (CNN classifiers mostly) and Gradient Class Activation Maps (Grad-CAM) for medical imaging, and VQAs like QAOA and QSVM. This project seems to be perfectly timed with my learning path, exploring quantum image filters and hopefully contributing towards better filters.

[2021-08-21 18:50] dsierrasosa commented on #7
We can review and study Linear Algebra as needed!

[2021-08-21 18:51] dsierrasosa commented on #7
Awesome!!

[2021-08-21 20:58] q-inho commented on #1
It would be great if we can team up when we make an application.

[2021-08-22 05:51] ManjulaGandhi opened #33 "Create Qiskit Lab Manual"
# Description
<The project will aim in building a lab manual so anyone can use this for learning or teaching purpose in future.>

# Mentor/s
<Yes>

# Type of participant
<Anyone who is interested and can spare time around 10 hours a week>

# Number of participants
<2>

# Deliverable
<code/content>

[2021-08-22 07:27] gunchamalik commented on #7
@dsierrasosa Great! I will be happy to learn and contribute.

[2021-08-22 09:10] leo07010 commented on #7
Although I am only a high school student (maybe the youngest), I really hope to participate in this interesting research with you

[2021-08-22 13:28] ShellyGarion opened #34 "Bayesian techniques for Randomized Benchmarking (cont.)"
# Description

Enhance the current [Randomized Benchmarking experiments](https://github.com/Qiskit/qiskit-experiments/tree/main/qiskit_experiments/library/randomized_benchmarking) in Qiskit-Experimetns with advanced statistical and Bayesian techniques, based on the following papers:

1. [Bayesian Inference for Randomized Benchmarking Protocols](https://arxiv.org/abs/1802.00401)

2. [Statistical an

[2021-08-22 13:33] starktech23 commented on #34
@pdc-quantum @shesha-raghunathan assigned.

[2021-08-22 13:35] starktech23 commented on #34
Ref. https://github.com/qiskit-community/qiskit-advocate-mentorship-program/issues/20

[2021-08-22 15:28] SaashaJoshi commented on #1
Hey! Even I'm interested in joining you in working on this project. I have experience dealing with medical image processing (denoising/filtering, cropping, segmentation, etc.) using CNNs and working on image metrics. Count me in if you guys discuss anything!

[2021-08-22 20:23] epelaaez commented on #7
This is a very interesting proposal! Would the implementation pursued in this research be theoretical or directly in Qiskit? What I mean is if the research would be oriented directly to the Qiskit platform or more from a platform-agnostic perspective? Either way, this sounds really good and I'd love to contribute.

[2021-08-22 20:33] dsierrasosa commented on #7
Sounds great, let's meet at some point this week, I would like to know your expectations!

[2021-08-22 20:34] dsierrasosa commented on #7
In principle the outcome should be agnostic to any platform, nonetheless, we will use Qiskit for any implementation and examples.

[2021-08-22 20:36] epelaaez commented on #28
This looks like a great idea. Some other variational algorithms that I think would be worth considering for implementation are:
- Iterative qubit excitation based VQE from [arXiv:2011.10540](https://arxiv.org/abs/2011.10540).
- Variational algorithm for quantum state tomography from [arXiv:1912.07286](https://arxiv.org/abs/1912.07286).

[2021-08-23 03:54] HitanshuGedam commented on #7
I'm also a high school student. I do have a strong math background and I'm interested to learn and contribute towards this project as much as I can

[2021-08-23 04:01] HitanshuGedam commented on #32
I'm a high school student with the IBM Quantum Developer certification and a significant amount of experience with Qiskit. I think this project will have a lot of impact on solving water crisis. I don't have enough experience with research but I'm willing to spare my time to read about Navier-Stokes equations and help with coming up with a solution towards success of this project.

[2021-08-23 04:19] HitanshuGedam commented on #18
I'm interested in exploring and contributing towards this project

[2021-08-23 04:40] HitanshuGedam commented on #32
I cannot find this project in the airtable form provided to us

[2021-08-23 04:55] HuangJunye commented on #32
The form will be updated with new projects later today.

[2021-08-23 14:23] brandhsn commented on #18
@nbronn Is this a pure coding project? If it isn't, I'm very interested. :-)

[2021-08-23 15:34] mehilagarwal opened #35 "Quantum Reinforcement Learning related projects"
# Description
I do not have a specific project in mind. It would be great if there is a mentor interested in this topic. I would want to work on research on Quantum Reinforcement Learning algorithms or implementing existing research using Qiskit and if that exists then benchmarking those implementations.

# Mentor/s
Looking for mentors

# Type of participant
<What are the profiles of the ideal par

[2021-08-23 15:56] HuangJunye commented on #33
@ManjulaGandhi Do you want to be a mentor for this project or are you looking for a mentor (and mentee)?

[2021-08-23 16:05] HuangJunye commented on #30
@Phionx would you like to work with @amirebrahimi under the mentorship project to extend your [qtcodes project](https://github.com/yaleqc/qtcodes)? @quantumjim Would you like to be a mentor if this is an extension of qtcodes?

[2021-08-23 16:42] nbronn commented on #18
Happy to hear the interest! I would not say it is a pure coding project, since the operations will be determined by qubit physics, mathematical analyses (see [Zhang et al](https://github.com/qiskit-community/mentorship-program-fall-21/files/7033561/Zhang.et.al.-.2003.-.Geometric.theory.of.nonlocal.two-qubit.operations.2.pdf)) and/or compiling techniques (see [Ding et al](https://github.com/qiskit-

[2021-08-23 17:54] quantumjim commented on #30
Could do, yep.

One thing I’ve been wanting to do myself is basically redo this paper
https://arxiv.org/abs/1808.03927
But with qtcodes. So that’s one possible idea.

On Mon 23. Aug 2021 at 18:06, Junye Huang ***@***.***> wrote:

[2021-08-23 18:05] asgunzi opened #36 "Quantum Trim"
# Description
The cutting stock problem is used in every paper company in the world. It can be modeled using integer programming, and one of the subproblems is the famous knapsack problem.

The project is to model the Trim problem using different quantum computing algorithms (Grover? QAOA?) and to compare the techniques.
https://en.wikipedia.org/wiki/Cutting_stock_problem
It is a real world proble

[2021-08-23 18:42] Phionx commented on #30
Sure! The more collaborators on [`qtcodes`](https://pypi.org/project/qtcodes/) the better :)
Feel free to explore https://github.com/yaleqc/qtcodes/issues for potential ideas or open issues with new ideas!

[2021-08-23 19:14] q-inho commented on #1
[Qiskit textbook Chapter 4.2.2](https://qiskit.org/textbook/ch-applications/image-processing-frqi-neqr.html) seems to be a good material to be familiar with quantum image processing.
This project idea is to see if there are other areas that might illustrate quantum speed up in the area of quantum image processing. I am looking at other classical image processing techniques and determine whether th

[2021-08-23 19:31] IceKhan13 commented on #6
Happy to see the interest in this project! Entire community will greatly benefit from this 💯

[2021-08-23 21:05] adarsh1chand opened #37 "Can entanglement be used as a resource in quantum machine learning ?"
# Description
### *Background*
Bell non-local games such as CHSH game (see https://www.youtube.com/watch?v=sUQYSy6C1aA) use entangled quantum systems as resource to produce non-local correlations which are signatures of truly quantum behavior. This is evidenced by the fact that these correlations violate certain inequalities which are obeyed by any local realistic (classical) system (see for examp

[2021-08-23 23:13] ManjulaGandhi commented on #33
@HuangJunye I would like to mentor this project.

[2021-08-24 02:24] dsierrasosa commented on #7
Awesome!

[2021-08-24 04:20] HitanshuGedam opened #38 "Quantum-secure communication of data over internet"
# Description

I don't have a very specific idea in mind but this is focused around quantum cryptography and communication. This project will be based around creating some cryptography techniques to ensure quantum-secure data being stored or transported over networks. Building strong cryptographic algorithms for security of big data which contains important information like financial transactions,

[2021-08-24 07:33] HuangJunye commented on #23
I am very interested in OpenQASM3 so I am thinking about whether I should become a mentee this time :) What exactly do you in mind as a “reference implantation”? Is it a compiler that takes OpenQASM3 code and converts to Qiskit code?

[2021-08-24 08:56] peachnuts commented on #18
I'm really interested in this project and looking forward to contributing to it!

[2021-08-24 12:51] shil-m commented on #11
There was a demonstration of Qiskit Blocks at the QXQ summer school, and I really loved it. Will this project be something similar? It interests me greatly; however, I had no previous experience with Unity/Qisge. Is it something I can learn during the course of the project? Is it okay if I reach out to you @TigrisCallidus  in slack to know more. Thanks.

[2021-08-24 15:37] HuangJunye commented on #33
@ManjulaGandhi Great! I marked you as mentor. Can you elaborate your ideas? I think it would help other people to understand the project idea if you can expand the description.

[2021-08-24 19:22] hhorii opened #39 "Tutorial to use K8S Cluster"
# Description
Publish a tutorial to use K8S cluster as a computation engine of Qiskit-Aer

# Mentor/s
Hiroshi Horii (@hhorii), STSM in IBM Research - Tokyo, Qiskit developer.

# Type of participant
Participants have experience or interests to use distributed environment.

# Number of participants
1-2

# Deliverable
Tutorial to use K8S as a [cluster backend](https://github.com/Qiskit/qiskit-aer/pul

[2021-08-25 04:40] deepquantum88 commented on #2
I am interested to contribute to this project.

[2021-08-25 05:28] ManjulaGandhi commented on #33
Thanks @HuangJunye.
Idea is to create Lab Manual for beginners to start learning Quantum Computing, an additional material to Qiskit Textbook has to be worked on, concentrating more on programming part.
We will be working on first three chapters of Qiskit Textbook.

[2021-08-25 09:32] kjwcoo commented on #18
Hi Nick! This is Philip from TU Delft. Can I join this project as an extension of the ongoing project?

[2021-08-25 10:13] HuangJunye commented on #1
I found someone has published a [paper](https://arxiv.org/abs/2104.03418) on this topic on [Qiskit Slack](https://qiskit.slack.com/archives/C7SJ0PJ5A/p1629824926488400?thread_ts=1629823067.487700&cid=C7SJ0PJ5A). Might be useful.

[2021-08-25 10:16] HuangJunye commented on #1
If I am not mistaken, @robertloredo is a co-author of this chapter.

[2021-08-25 10:43] frankharkins commented on #33
@ManjulaGandhi this sounds like a fun project, but I'm still unclear on what you specifically mean by "lab manual". If it's similar to the textbook, then it might be good to incorporate it into the textbook or improve the parts of the textbook that are lacking. If it's different then we should make the goals clear so we don't confuse people.

[2021-08-25 15:09] jwoehr commented on #23
Output is a QuantumCircuit instance (or a text dump of the AST if desired for debugging, that sort of thing)

[2021-08-26 02:37] amitracal opened #40 "Picturing Quantum Processes: A First Course in Quantum Theory and Diagrammatic Reasoning + ZX calculus"
# Description
Bob Coecke and Aleks Kissinger in their iconic book named "Picturing Quantum Processes: A First Course in Quantum Theory and Diagrammatic Reasoning" presents a beautiful and more intutive alternative representation to quantum operations. This can be a game changer in quantum education and research and because this pictorial reprsentation will make complex operations more intuitive ma

[2021-08-26 02:41] amitracal opened #41 "Grover's algorithm with Oracle implemented through Random Walk"
# Description
Grover's algorithm with Oracle implemented through Random Walk is a very interesting setup which was used in the final problem of IBM Quantum Challenge Fall 2020. But this concept can be enhanced. This project should take approximately 3 months to reasonably complete. The projects will 1) build technical skills, increase our number of core contributors, and work on meaningful project

[2021-08-28 11:30] quantum-kittens opened #42 "Quantum Art Generation for Educational Purposes"
# Description

I'm interested in creative, visual representations of quantum concepts/phenomena to engage students, industry professionals, and the general population.

I'd like to focus on quantum art for the moment. Sharing a preliminary example of bubble art generated by a quantum computer from a linguistic input. Each bubble's color corresponds to a measurement output and its size is proportio

[2021-08-29 08:40] darshkaushik commented on #1
I have been trying to read [this paper](https://arxiv.org/abs/1911.01117) which is also referred the qiskit textbook chapter.

Section 3 and before are clear to me, but as I move on to section 4 and 5, I am able to somewhat understand the preliminary quantum theories individually but cannot put them together in section. Can anyone help with this?

Also are we looking for the filters which are simi

[2021-08-29 13:04] EACMichiels commented on #4
This looks great. I would like to join! I applied!

[2021-08-29 13:06] EACMichiels commented on #26
This looks great. I would like to join! I applied as one of my options!

[2021-08-29 14:37] paniash commented on #27
Hi! I'm interested in contributing to this project!

[2021-08-29 18:17] Feigenbaum4669 commented on #41
Hi, I am also interested. I was implementing random walks on graphs in Qiskit a couple of years ago.
[(https://github.com/Feigenbaum4669/WPPT-quantum_walks](url)
[https://www.youtube.com/watch?v=gtcnxhpeNEQ](url)

[2021-08-29 19:35] mickahell commented on #42
Hi :) some months ago I started experiments to do something similar, also I did a survey about art and science, the survey is still on and I get ~80 results.

The final delivery is an online museum, the platform for the museum is already finish, only miss to finish experimenting.

If you want I can share with you my code and the result of the survey.
I also started to make a labbook about what I d

[2021-08-30 05:23] shil-m commented on #27
I am a physics major; this project will help me expand my knowledge in Qiskit Nature.

[2021-08-30 09:54] quantum-kittens commented on #42
@mickahell hi! :D

I'm definitely interested in seeing the results of the survey, thank you! I've actually been thinking about exploring some sort of online museum, so I would love to hear more about that as well, please. Ping me on Slack? I'm [at]RPS over there.

[2021-08-30 10:35] ElePT opened #43 "Real-World QML Algorithms"
# Description
The goal of this project is to expand our current understanding of the different **practical aspects** of recently proposed QML algorithms (i.e [[1]](https://arxiv.org/abs/1907.02085), [[2]](https://arxiv.org/abs/2103.14653), [[3]](https://arxiv.org/abs/1912.08278)). These could include factors such as computational cost, execution time, level of applicability to real-world scenarios

[2021-08-30 11:50] apozas commented on #43
I accept the challenge

[2021-08-30 16:10] jwoehr commented on #23
Today 2021-08-30 is the deadline for applying for mentorship.

[2021-08-30 17:25] TigrisCallidus commented on #11
Sorry for the late reply:

I am glad that people are interested, please just apply and write me on slack.

There is not really a need for Unity knowledge, and there should be time to learn more about Qisge and programming.

Qisge in the end is a tool meant for people to learn to program with Qisge!

[2021-08-31 01:59] VedDharkar commented on #20
Interested to know more about it and to work on it!

[2021-08-31 02:00] VedDharkar commented on #16
Interested to know more about it and to work on it!

[2021-08-31 22:59] jwoehr commented on #23
All ... note this PR https://github.com/Qiskit/openqasm/pull/269

[2021-09-03 08:24] quantumjim commented on #42
I could do some mentoring on this.

[2021-09-03 10:18] mickahell commented on #42
@quantumjim , so I put what I sent to @quantum-kittens on slack here :

experiments : https://github.com/mickahell/quantum_experiments/tree/develop/qiskit/qfractals
platform : https://github.com/mickahell/xtraorbitals.xyz/tree/main/fractals_museum (do not mind about the Dockerfile, it's the old version before I migrated the code)

if you want to run the platform :
- you need to install streamlit -

[2021-09-06 23:08] jwoehr commented on #23
https://github.com/mentor-fall2021-openqasm is our new GitHub organization

[2021-09-07 02:08] coruscating opened #44 "Update qiskit-experiments tutorials"
# Description
Qiskit-experiments is a new software package for doing qubit calibrations and experiments through Qiskit. You can see the current tutorials at https://qiskit.org/documentation/experiments/tutorials/index.html

We'd like to rewrite these tutorials as a step-by-step progression through an overview of basic features, running a simple experiment and saving the results, creating a new exp

[2021-09-07 05:51] fs1132429 commented on #4
I am very interested in this project! Would love to join.

[2021-09-09 10:11] gunchamalik commented on #39
@hhorii I am interested in contributing to this project.

[2021-09-09 10:13] gunchamalik commented on #33
@ManjulaGandhi I am interested

[2021-09-09 10:20] wslu42 commented on #11
I will be one of the participants on this project @HuangJunye according to the airtable, and I am pinning you as requested in the meeting. Thanks!

[2021-09-09 10:28] wslu42 commented on #11
@TigrisCallidus Thanks for having me! Sorry I can't really find your slack display name... Could you please pin me in slack, so I can schedule a meeting with you? Thank you so much! (slack member ID U0109RFTWLV, or display name "Wen-Sen (Vince)")

[2021-09-09 10:31] bicycle315 commented on #44
Hi, I'm interested in this topic.

[2021-09-09 10:40] iotaisolutions commented on #39
@hhorii I am interested in this project.

[2021-09-09 11:14] iotaisolutions commented on #44
@coruscating I am interested

[2021-09-09 11:22] bicycle315 commented on #15
I used qiskit metal a lot to design my circuit. I think it's a really good idea to have an app helping us to more intuitively and conveniently understand the circuit! I am really interested in subject related to qiskit metal but i am not a frontend web developer. Is there any chance that i can still participate in this project and contribute to metal?

[2021-09-09 16:07] AlainChance commented on #37
It is worth considering the insights from the [2021-08-26 QML Meetup: Hsin-Yuan (Robert) Huang, Power of data in quantum machine learning](https://www.youtube.com/watch?v=eSvib4kXkIk), particulary the following one in the Conclusion shown at 44:36:

Huang, HY., Broughton, M., Mohseni, M. et al. Power of data in quantum machine learning. Nat Commun 12, 2631 (2021). [https://doi.org/10.1038/s41467-0

[2021-09-09 16:56] msciwoj1 commented on #18
Hello, I was assigned to this project, to the spin modality group. I'm excited to begin exploring it.

[2021-09-09 18:11] jmit34 commented on #33
Hello, I am intrested in joining this team as well is slot still available.

[2021-09-10 14:32] AlainChance commented on #31
Worth checking: Aliro offers [Aliro™ Q.Network](https://www.aliroquantum.com/product/network?hsLang=en), the first commercial Entanglement as a Service platform, with "Run simulation" and "Get simulation analysis" features.

[2021-09-10 15:08] bala-ceg commented on #31
Thank you sir @AlainChance  for the suggestions.

[2021-09-10 23:11] na13neil commented on #33
@ManjulaGandhi I'm interested to work on this project.

[2021-09-13 14:55] e-eight commented on #20
@HuangJunye Could you please assign this to me.

[2021-09-14 16:04] born-2learn opened #45 "Working with Higher Energy States using builder notation of Qiskit Pulse"
# Description
The qiskit-textbook chapter on "Accessing Higher Energy States"(6.2) uses an older version of qiskit-pulse syntax. This project proposes an upgrade to this chapter using the latest builder syntax of Qiskit Pulse. The project will be an extension of the pulse syntax upgrade that happened last year for experiment 6.1. We might be able to add some new experiments that demonstrate the po

[2021-09-16 15:18] robertloredo commented on #1
List of ideas:

1. Quantum Noise: Find ways to create/remove noise from images using Quantum techniques. i.e. blur/sharpen, etc.
2. Quantum augmentation of image data: Clustering an image how can we refine the image. Add additional pixel information (review the  paper titled: **Explainable and scalable machine-learning algorithms for detection of autism spectrum disorder using fmri data** section

[2021-09-16 16:45] gines-carrascal commented on #1
Have you seen this scene in blade runner navigating into the image: zoom-enhance-zoom-enhance...

Same resources on (classical) augmentation of image data:

https://medium.com/@zhuocen93/an-overview-of-espcn-an-efficient-sub-pixel-convolutional-neural-network-b76d0a6c875e

https://github.com/Lornatang/ESPCN-PyTorch

It may be possible to use quantum layers in this neural network. Could we obtain b

[2021-09-22 09:51] HuangJunye commented on #26
Close due to limited availability of the mentor (who is mentoring project #13 and #14 )

[2021-09-22 09:51] #26 closed

[2021-09-22 09:53] HuangJunye commented on #31
Close due to no mentor. Of course you are feel to organize yourselves outside the mentorship program if you are still interested.

[2021-09-22 09:53] #31 closed

[2021-09-22 09:54] HuangJunye commented on #36
Close due to no mentor. Of course you are feel to organize yourselves outside the mentorship program if you are still interested.

[2021-09-22 09:54] #36 closed

[2021-09-22 09:54] HuangJunye commented on #37
Close due to no mentor. Of course you are feel to organize yourselves outside the mentorship program if you are still interested.

[2021-09-22 09:54] #37 closed

[2021-09-22 09:54] HuangJunye commented on #38
Close due to no mentor. Of course you are feel to organize yourselves outside the mentorship program if you are still interested.

[2021-09-22 09:54] #38 closed

[2021-09-22 09:55] HuangJunye commented on #41
Close due to no mentor. Of course you are feel to organize yourselves outside the mentorship program if you are still interested.

[2021-09-22 09:55] #41 closed

[2021-09-22 09:55] HuangJunye commented on #40
Close due to no mentor. Of course you are feel to organize yourselves outside the mentorship program if you are still interested.

[2021-09-22 09:55] #40 closed

[2021-09-22 09:58] HuangJunye commented on #1
@AmauryDM can please comment on this issue so that I can assign you on the issue?

[2021-09-22 10:02] HuangJunye commented on #2
@frankharkins @JRussellHuffman @bartubisgin @wmurphy-collabstar Can you please comment in this issue so that I can assign you?

[2021-09-22 10:03] HuangJunye commented on #4
@sinestro38, @maldoalberto Can you please comment in this issue so that I can assign you?

[2021-09-22 10:04] HuangJunye commented on #5
@dlasecki @fs1132429 Can you please comment in the issue so that I can assign you?

[2021-09-22 10:04] AmauryDM commented on #1
Yes @HuangJunye sir thank you!

[2021-09-22 10:06] HuangJunye commented on #7
@string137 @anda-creator @abzsd, can you please comment in the issue so that I can assign you?

[2021-09-22 10:07] String137 commented on #7
Here.

[2021-09-22 10:07] HuangJunye commented on #7
@dsierrasosa If this is going to two separate projects, can you please ask create a new issue and tag the mentees separately? Thanks a lot.

[2021-09-22 10:08] HuangJunye commented on #8
@alejomonbar Can you please comment in the issue so that I can assign you?

[2021-09-22 10:08] HuangJunye commented on #9
@dlasecki @mattwright99 Can you please comment in the issue so that I can assign you?

[2021-09-22 10:10] HuangJunye commented on #12
@KathirinKoenig @schulta Can you please comment in the issue so that I can assign you?

[2021-09-22 10:13] HuangJunye commented on #13
@desireevl Can you please comment in the issue so that I can assign you?

[2021-09-22 10:15] HuangJunye commented on #15
@hjk068 @smidgecoo Can you please comment in the issue so that I can assign you?

[2021-09-22 10:15] HuangJunye commented on #16
@scottwn Can you please comment in the issue so that I can assign you?

[2021-09-22 10:16] HuangJunye commented on #17
@peachnuts @brandhsn @kjwcoo @msciwoj1 Can you please comment in the issue so that I can assign you?

[2021-09-22 10:17] HuangJunye commented on #20
@saashajoshi @ ivaniscoding @morcu @veddharkar Can you please comment in the issue so that I can assign you?

[2021-09-22 10:18] HuangJunye commented on #21
@y4izus @SaraM92 Can you please comment in the issue so that I can assign you?

[2021-09-22 10:18] SaashaJoshi commented on #20
Hi @HuangJunye, please assign me to this issue.

[2021-09-22 10:18] HuangJunye commented on #22
@obliviateandsurrender Can you please comment in the issue so that I can assign you?

[2021-09-22 10:20] HuangJunye commented on #23
@mrvee-qC Can you please comment in the issue so that I can assign you?

[2021-09-22 10:20] HuangJunye commented on #24
@EgrettaThula Can you please comment in the issue so that I can assign you?

[2021-09-22 10:21] HuangJunye commented on #25
@clausia @snsunx Can you please comment in the issue so that I can assign you?

[2021-09-22 10:22] HuangJunye commented on #27
@woodsp-ibm @SiddharthaMorales @jvscursulim @paniash Can you please comment in the issue so that I can assign you?

[2021-09-22 10:25] brandhsn commented on #17
@HuangJunye We are actually assigned to issue #18 I will comment there :-)

[2021-09-22 10:25] HuangJunye commented on #28
@woodsp-ibm @paulineollitrault @abhishekjay @charmerDark Can you please comment in the issue so that I can assign you?

[2021-09-22 10:26] brandhsn commented on #18
Hi, I was assigned to this project, looking forward to working on it.

[2021-09-22 10:26] frankharkins commented on #2
Hello :)

[2021-09-22 10:26] HuangJunye commented on #32
@georgezhou20 @adarsh1chand Can you please comment in the issue so that I can assign you?

[2021-09-22 10:27] HuangJunye commented on #34
@pdc-quantum Can you please comment in the issue so that I can assign you?

[2021-09-22 10:30] HuangJunye commented on #35
@amitracal @olgaatgh @vkumar19 @dalevras @deepquantum88 Can you please comment in the issue so that I can assign you?

[2021-09-22 10:32] bartubisgin commented on #2
Hi there :)

[2021-09-22 10:32] HuangJunye commented on #44
@jaleipekoglu @spencerking Can you please comment in the issue so that I can assign you?

[2021-09-22 10:33] HuangJunye commented on #45
@nkanazawa1989 @kUmezawa Can you please comment in the issue so that I can assign you?

[2021-09-22 10:36] HuangJunye commented on #18
Sorry I mixed up with project #17 and #18.

[2021-09-22 10:36] obliviateandsurrender commented on #22
@HuangJunye there you go.

[2021-09-22 10:36] HuangJunye commented on #18
@kjwcoo @mscjwoj1 Can you please comment in this issue so that I can assign you?

[2021-09-22 10:37] HuangJunye commented on #17
Please ignore my previous comment. You are assigned to project 18.

@rafal-pracht, @jsistos Can you please comment in the issue so that I can assign you?

[2021-09-22 10:40] kjwcoo commented on #18
Like this? @HuangJunye

[2021-09-22 10:43] jaleipekoglu commented on #44
Hi, I'm interested in this topic.

[2021-09-22 10:44] hjk068 commented on #15
@HuangJunye Thank you!

[2021-09-22 10:46] AnDa-creator commented on #7
Here

[2021-09-22 10:55] mrvee-qC commented on #23
Sure! :D

[2021-09-22 10:55] mrvee-qC commented on #23
Sure! :D

[2021-09-22 11:31] dlasecki commented on #5
Ok

[2021-09-22 11:31] dlasecki commented on #9
Ok

[2021-09-22 11:46] Morcu commented on #20
Sure!

[2021-09-22 11:52] schulta commented on #12
@HuangJunye Thank you in advance!

[2021-09-22 12:12] rafal-pracht commented on #17
Ok :)

[2021-09-22 12:19] peachnuts commented on #18
@HuangJunye  Thanks Junye!

[2021-09-22 12:45] Sinestro38 commented on #4
👍 @HuangJunye

[2021-09-22 12:52] msciwoj1 commented on #18
@HuangJunye I commented here two weeks ago, but doing it again if it helps.

[2021-09-22 13:06] alejomonbar commented on #8
I'm here, thank you for the opportunity @t-imamichi and @HuangJunye!

[2021-09-22 14:01] deepquantum88 commented on #35
Hi..

On Wed, 22 Sep, 2021, 4:00 pm Junye Huang, ***@***.***> wrote:

[2021-09-22 14:14] vkumar19 commented on #35
Commenting here

[2021-09-22 14:24] clausia commented on #25
@HuangJunye hey!
My full name is Claudia Zendejas-Morales

[2021-09-22 14:45] woodsp-ibm commented on #27
👍

[2021-09-22 14:45] woodsp-ibm commented on #28
👍

[2021-09-22 14:50] charmerDark commented on #28
👍

[2021-09-22 14:54] wmurphy-collabstar commented on #2
Hello!

[2021-09-22 15:00] abhishekjay commented on #28
Hey!

[2021-09-22 15:06] da66 commented on #35
Commenting...

[2021-09-22 15:32] Denny-Hwang commented on #1
I also have an idea 'Edge detection enhancement using quantum computing'.
But, I'm still finding clues, I don't have a vivid guide to research now.

ref 1: https://www.osapublishing.org/oe/fulltext.cfm?uri=oe-28-24-35415&id=442483
ref 2: https://www.spiedigitallibrary.org/conference-proceedings-of-spie/7497/749724/A-new-quantu[…]on-algorithm-for-medical-images/10.1117/12.832499.short
ref 3: https:

[2021-09-22 15:40] paulineollitrault commented on #28
👍

[2021-09-22 15:53] fs1132429 commented on #5
yeah 👍

[2021-09-22 16:57] jsistos commented on #17
Hello!

[2021-09-22 17:21] pdc-quantum commented on #34
Hi Julie,
Nice 😊 to be here
Please assign me

[2021-09-22 17:37] JRussellHuffman commented on #2
Hello :)

[2021-09-22 18:21] mattwright99 commented on #9
Thanks @HuangJunye

[2021-09-22 19:27] nkanazawa1989 commented on #45
Sure

[2021-09-22 21:40] SiddharthaMorales commented on #27
Hello :)

[2021-09-22 21:52] jvscursulim commented on #27
Hello Quantum World :)

[2021-09-22 22:13] desireevl commented on #13
Thanks!

[2021-09-22 23:20] snsunx commented on #25
Hi @HuangJunye, Claudia and I will be the mentees in this project

[2021-09-22 23:51] georgezhou20 commented on #32
Super excited for this project!

[2021-09-23 01:54] SaraM92 commented on #21
Hello!

[2021-09-23 02:08] amitracal commented on #35
Commenting

[2021-09-23 04:49] abzsd commented on #7
Here

[2021-09-23 20:46] scottwn commented on #16
@HuangJunye please assign this issue to me

[2021-09-24 00:44] kUmezawa commented on #45
Sure!

[2021-09-24 11:31] singhmeet11 commented on #7
@HuangJunye Really really sorry but I accidentally unassigned myself from the issue. Can you please assign me again?

[2021-09-24 13:31] HuangJunye commented on #7
No problem :) Done!

[2021-09-24 14:07] y4izus commented on #21
hello!

[2021-09-25 13:53] EgrettaThula commented on #24
@HuangJunye,
Sure! I'm definitely interested in contributing to this project.

[2021-09-27 01:35] spencerking commented on #44
@HuangJunye I apologize for the delay

[2021-09-27 01:36] olgaatgh commented on #35
Commenting here

[2021-09-30 09:54] KathrinKoenig commented on #12
@HuangJunye Sorry for being late and thank you in advance

[2021-09-30 21:05] pdc-quantum commented on #34
Here is my 2-slide proposal for Mid-term review (Oct 7, 2021)
[# {34}  {Bayesian techniques for Randomized Benchmarking (cont.)}.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7262475/34.Bayesian.techniques.for.Randomized.Benchmarking.cont.pdf)

[2021-10-02 07:48] fs1132429 commented on #5
[#5 Integrate AdaptVQE with Qiskit Terra's Gradients.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7271062/5.Integrate.AdaptVQE.with.Qiskit.Terra.s.Gradients.pdf)

[2021-10-02 12:28] abhishekjay commented on #28
@HuangJunye I am remaining to be assigned  :)

[2021-10-02 12:54] HuangJunye commented on #28
@abhishekjay Sorry for missing it. You should be assigned now.

[2021-10-02 12:59] abhishekjay commented on #28
Thankyou!

On Sat, 2 Oct 2021, 6:24 pm Junye Huang, ***@***.***> wrote:

[2021-10-04 00:12] amitracal commented on #35
[#35 Quantum Reinforcement Learning.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7274764/35.Quantum.Reinforcement.Learning.pdf)

[2021-10-04 15:50] iotaisolutions commented on #39
Project Status report for  7th October, 2021 Checkpoint Meeting (second slot).
[#39 Tutorial to use K8S Cluster.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7279465/39.Tutorial.to.use.K8S.Cluster.pdf)

[2021-10-04 22:00] dsierrasosa commented on #7
Presentation for checkpoint (2-4 EDT Session)
[#7 Computing Rigid Body Rotations with Qiskit.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7281547/7.Computing.Rigid.Body.Rotations.with.Qiskit.pdf)
1

[2021-10-05 17:55] mickahell commented on #6
[#6 Qiskit Ecosystem.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7288140/6.Qiskit.Ecosystem.pdf)

[2021-10-05 18:00] TheGupta2012 commented on #24
These are the presentation slides for the October 7 review
[#24 Build a timeline debugger for the Qiskit transpiler.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7288164/24.Build.a.timeline.debugger.for.the.Qiskit.transpiler.pdf)

[2021-10-05 18:27] AmauryDM commented on #1
[#1 Quantum Image Processing - Filters.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7288305/1.Quantum.Image.Processing.-.Filters.pdf)

[2021-10-06 04:52] SaraM92 commented on #21
Check Point 1 slide
[Project 21 Update content for Textbook Beta.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7290870/Project.21.Update.content.for.Textbook.Beta.pdf)
s.

[2021-10-06 04:55] SaraM92 commented on #21
Check Point 1 sides.
[#21 Update content for Textbook Beta.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7290888/21.Update.content.for.Textbook.Beta.pdf)

[2021-10-06 09:41] bicycle315 commented on #44
[Qiskit_Template.pptx](https://github.com/qiskit-advocate/qamp-fall-21/files/7292603/Qiskit_Template.pptx)

[2021-10-06 10:53] desireevl commented on #13
[#13 Add Performance Benchmarks for Qiskit Machine Learning.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7300343/13.Add.Performance.Benchmarks.for.Qiskit.Machine.Learning.pdf)

[2021-10-06 11:00] ElePT commented on #43
Here are the slides for the intermediate presentation:
[#43 Real-World QML Algorithms.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7293095/43.Real-World.QML.Algorithms.pdf)

[2021-10-06 11:03] SaraM92 commented on #21
Check Point 1 slides.
[# 21 Update content for Textbook Beta.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7293106/21.Update.content.for.Textbook.Beta.pdf)

[2021-10-06 11:30] alejomonbar commented on #8
[Presentation.pptx](https://github.com/qiskit-advocate/qamp-fall-21/files/7293281/Presentation.pptx)

[2021-10-06 15:18] schulta commented on #12
Slides for Checkpoint 1. (Updated on Oct. 7)
[#12 Benchmarking Crosspoint Calibration.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7299369/12.Benchmarking.Crosspoint.Calibration.pdf)

[2021-10-06 15:20] gunchamalik commented on #33
[Qiskit Lab Manual.pptx.zip](https://github.com/qiskit-advocate/qamp-fall-21/files/7295216/Qiskit.Lab.Manual.pptx.zip)

[2021-10-06 16:32] HuangJunye commented on #2
@wmurphy-collabstar @bartubisgin Can you please upload your presentation here by the end of today? Thank you!

[2021-10-06 16:32] HuangJunye commented on #4
Can you please upload your presentation here by the end of today? Thank you! @Sinestro38 @MaldoAlberto

[2021-10-06 16:35] HuangJunye commented on #8
@alejomonbar Thanks for uploading the slides. Can you please upload a pdf version and rename it with project number and project names like "#8 Add benchmarking codes of Qiskit Optimization.pdf"? It would be easier for other people to click and see the presentation slides. Thank you!

[2021-10-06 16:36] HuangJunye commented on #9
@mattwright99 Can you please upload your presentation here, even if you are not presenting? Thank you!

[2021-10-06 16:37] HuangJunye commented on #15
Can you please upload your presentation here by the end of today? Thank you! @hjk068 @SmidgeCoo

[2021-10-06 16:38] HuangJunye commented on #11
Can you please upload your presentation here by the end of today? Thank you! @wslu42 @shil-m

[2021-10-06 16:38] HuangJunye commented on #16
@scottwn @tula3and Can you please upload your presentation here by the end of today? Thank you!

[2021-10-06 16:40] HuangJunye commented on #17
Can you please upload your presentation here by the end of today? Thank you! @rafal-pracht @jsistos

[2021-10-06 16:41] HuangJunye commented on #18
@kjwcoo @peachnuts @brandhsn @msciwoj1 Can you please upload your presentation here by the end of today? Thank you!

[2021-10-06 16:42] HuangJunye commented on #14
@cnktysz Can you please upload your presentation here by the end of today? Thank you!

[2021-10-06 16:43] HuangJunye commented on #20
@e-eight @IvanIsCoding @Morcu @SaashaJoshi Can you please upload your presentations here by the end of today? Thank you!

[2021-10-06 16:43] HuangJunye commented on #22
@obliviateandsurrender Can you please upload your presentation here by the end of today? Thank you!

[2021-10-06 16:44] HuangJunye commented on #23
@mrvee-qC @nelimee @AbeerVaishnav13 Can you please upload your presentation here by the end of today? Thank you!

[2021-10-06 16:44] HuangJunye commented on #25
@clausia @snsunx Can you please upload your presentation here by the end of today? Thank you!

[2021-10-06 16:45] HuangJunye commented on #27
@SiddharthaMorales @jvscursulim Can you please upload your presentation here by the end of today? Thank you!

[2021-10-06 16:45] HuangJunye commented on #28
@charmerDark @abhishekjay Can you please upload your presentation here by the end of today? Thank you!

[2021-10-06 16:45] obliviateandsurrender commented on #22
@HuangJunye yes, working on it.

[2021-10-06 16:46] HuangJunye commented on #29
@starktech23 Can you please upload your presentation here by the end of today? Thank you!

[2021-10-06 16:46] HuangJunye commented on #30
@Phionx @amirebrahimi Can you please upload your presentation here by the end of today? Thank you!

[2021-10-06 16:47] HuangJunye commented on #32
@georgezhou20 @HitanshuGedam @adarsh1chand @kaminotesf Can you please upload your presentation here by the end of today? Thank you!

[2021-10-06 16:48] HuangJunye commented on #33
@gunchamalik Thanks for uploading your presentation! Can you please convert it to pdf format and rename it as "#33 Qiskit Lab Manual.pdf" and upload here? That would help me a lot. Thank you!

[2021-10-06 16:49] HuangJunye commented on #42
@quantum-kittens Can you please upload your presentation here by the end of today? Thank you!

[2021-10-06 16:50] HuangJunye commented on #44
@bicycle315 Thanks for uploading your presentation! Can you please convert it to pdf format and rename it "#44
Update qiskit-experiments tutorials.pdf"? That would help me a lot. Thank you!

[2021-10-06 16:51] HuangJunye commented on #44
@spencerking @jaleipekoglu If you are presenting individually, can you please also upload your presentations by the end of today? Thank you!

[2021-10-06 16:51] HuangJunye commented on #45
@born-2learn Can you please upload your presentation here by the end of today? Thank you!

[2021-10-06 16:57] rafal-pracht commented on #17
@HuangJunye Is the presentation needed? We planed to show the notebooks.

[2021-10-06 16:59] born-2learn commented on #45
@HuangJunye  Sure, let me add it by EOD EST, thanks!

[2021-10-06 17:01] cnktysz commented on #14
Checkpoint 1 presentation: [#14 Analyze and improve performance of Qiskit Machine Learning.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7295862/14.Analyze.and.improve.performance.of.Qiskit.Machine.Learning.pdf)

[2021-10-06 17:02] jaleipekoglu commented on #44
@HuangJunye here is mine:
[#44 Update qiskit-experiment tutorials.pptx](https://github.com/qiskit-advocate/qamp-fall-21/files/7295855/44.Update.qiskit-experiment.tutorials.pptx)

[2021-10-06 17:03] alejomonbar commented on #8
[#8 Add benchmarking codes of Qiskit Optimization.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7295876/8.Add.benchmarking.codes.of.Qiskit.Optimization.pdf)

[2021-10-06 17:05] HuangJunye commented on #17
@rafal-pracht I think it would be good to have slides to explain the project. If you can make them before the presentation that would be great. Otherwise, can you upload the notebooks here?

[2021-10-06 17:07] Phionx commented on #30
[#30 QEC_ Extend qtcodes.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7295898/30.QEC_.Extend.qtcodes.pdf)

[2021-10-06 17:17] jvscursulim commented on #27
@HuangJunye We are going to upload the presentation soon, @SiddharthaMorales and I are fixing some details

[2021-10-06 17:23] snsunx commented on #25
@HuangJunye Ok got it. I'll upload my slides today. Since it's a 3-minute talk should we just have 2-3 slides?

[2021-10-06 17:39] shil-m commented on #11
Just going through some minor changes. Will post it here soon @HuangJunye.

[2021-10-06 17:41] wslu42 commented on #11
[211005-Qisge_qamp21.pptx](https://github.com/qiskit-advocate/qamp-fall-21/files/7305967/211005-Qisge_qamp21.pptx)

@HuangJunye Sorry I was waiting for the template files to update my slides (for some reason I can't open it on either my Win 10 or Win 7 laptops). But I guess I should just post it.

[2021-10-06 17:59] charmerDark commented on #28
[#28 Add implementations of variational quantum algorithms for excited states to Qiskit.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7296190/28.Add.implementations.of.variational.quantum.algorithms.for.excited.states.to.Qiskit.pdf)

Sorry about the delay!

[2021-10-06 18:20] quantum-kittens commented on #42
Checkpoint 1 presentation attached.

For anyone who reads this: the last few slides are essentially frames of a gif, so have some fun rapidly clicking through them! 😀

[#42 Quantum Art Generation for Educational Purposes.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7296246/42.Quantum.Art.Generation.for.Educational.Purposes.pdf)

[2021-10-06 19:36] shil-m commented on #11
[#11 Creating a game with Qisge and write a step by step guide on how to do it.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7296695/11.Creating.a.game.with.Qisge.and.write.a.step.by.step.guide.on.how.to.do.it.pdf)

[2021-10-06 19:57] shil-m commented on #11
[Uploading #11 Creating a game with Qisge and write a step by step guide on how to do it.pdf…]()

[2021-10-06 20:33] kjwcoo commented on #18
[#18 CircuitPulse optimization across different quantum hardware modalities.pptx.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7297020/18.CircuitPulse.optimization.across.different.quantum.hardware.modalities.pptx.pdf)

[2021-10-06 21:01] SiddharthaMorales commented on #27
[#27 Add Qiskit Nature demonstrations for physics problems2.0.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7297118/27.Add.Qiskit.Nature.demonstrations.for.physics.problems2.0.pdf)
[#27 Add Qiskit Nature demonstrations for physics problems2.0.pptx](https://github.com/qiskit-advocate/qamp-fall-21/files/7297119/27.Add.Qiskit.Nature.demonstrations.for.physics.problems2.0.pptx)

[2021-10-06 21:31] hjk068 commented on #15
Second ppt file for #15 Presentation in Checkpoint 1
[#15 Interactive Circuit Schematic for Qiskit Metal - 2.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7297243/15.Interactive.Circuit.Schematic.for.Qiskit.Metal.-.2.pdf)

[2021-10-06 22:19] spencerking commented on #44
@HuangJunye I am not able to attend either session so Jale is going to be providing my updates.

[2021-10-06 22:19] wmurphy-collabstar commented on #2
Hi @HuangJunye I'm sorry for the delay, here is my slide deck:
[#2 Create Qiskit Textbook learning path for Qiskit Developer Certification Exam preparation.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7297438/2.Create.Qiskit.Textbook.learning.path.for.Qiskit.Developer.Certification.Exam.preparation.pdf)

[2021-10-06 22:52] mrvee-qC commented on #23
Here is our submission! ~ @AbeerVaishnav13 @nelimee @jwoehr @mrvee-qC
[QAMP23-OpenQasm3.0.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7297551/QAMP23-OpenQasm3.0.pdf)

[2021-10-07 01:22] e-eight commented on #20
@HuangJunye Here is my presentation.
[Good first issues in retworkx.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7297981/Good.first.issues.in.retworkx.pdf)

[2021-10-07 01:23] obliviateandsurrender commented on #22
[#22 Discriminator projects in qiskit-experiments.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7297980/22.Discriminator.projects.in.qiskit-experiments.pdf)

[2021-10-07 01:58] HuangJunye commented on #44
@jaleipekoglu Thanks for uploading the presentation. Can you please upload a pdf version? That would help me a lot. Thank you.

[2021-10-07 02:00] HuangJunye commented on #11
@wslu42 Sorry I missed your message on Slack. Let me see if I can fix it. @shil-m Did you upload a file? The link only links to this issue, no file attached.

[2021-10-07 02:01] tula3and commented on #16
[cloud-ready.pptx](https://github.com/qiskit-advocate/qamp-fall-21/files/7298161/cloud-ready.pptx)

[2021-10-07 02:02] HuangJunye commented on #25
@snsunx Yes, 2-3 slides are sufficient. Other projects have uploaded there presentations on their project issues. You can check them out.

[2021-10-07 02:04] amirebrahimi commented on #30
@HuangJunye - Here's an updated version
[#30 QEC Extend qtcodes.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7298167/30.QEC.Extend.qtcodes.pdf)

[2021-10-07 02:08] HuangJunye commented on #16
@tula3and Thanks for uploading the presentation. Can you please convert it to pdf format and rename "#16 Qiskit Metal to cloud-ready.pdf"?

[2021-10-07 02:14] tula3and commented on #16
@HuangJunye Thanks for the correction! Always appreciate your support. 😄 [#16 Qiskit Metal to cloud-ready.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7298204/16.Qiskit.Metal.to.cloud-ready.pdf)

[2021-10-07 02:17] HuangJunye commented on #16
@tula3and Thank you! Can't wait learn you have done so far!

[2021-10-07 02:43] born-2learn commented on #45
[@HuangJunye ]QAMP Checkpoint 1: Progress report
[Issue #45 Higher Energy States.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7298347/Issue.45.Higher.Energy.States.pdf)

[2021-10-07 02:59] MaldoAlberto commented on #4
@HuangJunye i'm sorry for the delay, here is the presentation :D

[ADVOCATE MENTORSHIP PROGRAM MIDTERM CHECKPOINT.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7298408/ADVOCATE.MENTORSHIP.PROGRAM.MIDTERM.CHECKPOINT.pdf)

[2021-10-07 03:12] bicycle315 commented on #44
[Qiskit_Template_pdf.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7298443/Qiskit_Template_pdf.pdf)
#44 Update qiskit-experiments tutorials.pdf

[2021-10-07 03:28] VedDharkar commented on #20
@HuangJunye Here is my presentation.
[Good First Issues in Retworkx.pptx](https://github.com/qiskit-advocate/qamp-fall-21/files/7298487/Good.First.Issues.in.Retworkx.pptx)

[2021-10-07 03:44] shil-m commented on #11
[#11 Creating a game with Qisge and write a step by step guide on how to do it.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7298542/11.Creating.a.game.with.Qisge.and.write.a.step.by.step.guide.on.how.to.do.it.pdf)

I am not sure why that happened earlier. I hope this works. @HuangJunye

[2021-10-07 03:54] starktech23 commented on #29
@HuangJunye done, thank you!
[Advocates Mentorship f21 checkpoint 1.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7298583/Advocates.Mentorship.f21.checkpoint.1.pdf)

[2021-10-07 03:54] jsistosb commented on #17
@HuangJunye I've been working on the slides for the last couple of hours and I will upload it soon.

[2021-10-07 03:57] mattwright99 commented on #9
[#9 Create tools for the protein folding problem in Qiskit Nature.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7298602/9.Create.tools.for.the.protein.folding.problem.in.Qiskit.Nature.pdf)

[2021-10-07 04:36] jsistosb commented on #17
Here you go! I'm looking forward to the checkpoint :)

[#17 Qiskit compatibility with Parameters.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7298770/17.Qiskit.compatibility.with.Parameters.pdf)

[2021-10-07 05:01] ManjulaGandhi commented on #33
[#33 Qiskit Lab Manual.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7298879/33.Qiskit.Lab.Manual.pdf)

[2021-10-07 06:30] SaashaJoshi commented on #20
@HuangJunye PFA Presentation for Checkpoint - 1:
[QAMP 2021 – Checkpoint 1 - Saasha Joshi.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7299338/QAMP.2021.Checkpoint.1.-.Saasha.Joshi.pdf)
[QAMP 2021 – Checkpoint 1 - Saasha Joshi.pptx](https://github.com/qiskit-advocate/qamp-fall-21/files/7299340/QAMP.2021.Checkpoint.1.-.Saasha.Joshi.pptx)

[2021-10-07 06:40] jaleipekoglu commented on #44
[#44 Update qiskit-experiment tutorials.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7299382/44.Update.qiskit-experiment.tutorials.pdf)
@HuangJunye Sorry! Here is the PDF version.

[2021-10-07 07:18] kaminotesf commented on #32
Hi Junye,

Here is the presentation slides!

Best,
Zhixin(Jack) Song

On Wed, Oct 6, 2021 at 12:47 PM Junye Huang ***@***.***>
wrote:

[2021-10-07 07:19] snsunx commented on #25
Hi @HuangJunye, here are my slides: [#25 Good First Issues and Short Projects in qiskit-terra.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7299715/25.Good.First.Issues.and.Short.Projects.in.qiskit-terra.pdf)

[2021-10-07 07:42] HuangJunye commented on #32
[#32 Solving the Navier-Stokes Equations using Qiskit for Water Management Challenges.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7299951/32.Solving.the.Navier-Stokes.Equations.using.Qiskit.for.Water.Management.Challenges.pdf)

[2021-10-07 09:39] rafal-pracht commented on #17
[#17 Qiskit compatibility with Parameters.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7301255/17.Qiskit.compatibility.with.Parameters.pdf)

[2021-10-07 16:47] iotaisolutions commented on #39
Latest Project Status report for 7th October, 2021 Checkpoint Meeting (second slot).
[#39 Tutorial to use K8S Cluster.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7305585/39.Tutorial.to.use.K8S.Cluster.pdf)

[2021-10-07 17:45] wslu42 commented on #11
all good! I still have old template so didn't pin you in that message. Thanks! @HuangJunye

[2021-10-07 20:07] AbeerVaishnav13 commented on #23
Uploading the updated presentation after certain changes.

[#23-OpenQASM3 Reference Implementation.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7306665/23-OpenQASM3.Reference.Implementation.pdf)

[2021-11-06 09:37] tula3and commented on #16
The 2nd checkpoint:

For the backend of the Qiskit Metal web app, we are planning to deploy a Flask app on IBM Cloud Code Engine. The Flask app will define necessary HTTP endpoints to interact with `qiskit-metal` Python functions. We intend for the app to be a lightweight, single Python module that imports `qiskit-metal`. For example, we have a proof of concept for `get_design_name`.

[code]

In o

[2021-11-06 09:39] tula3and commented on #16
![Visualization - Chrome](https://user-images.githubusercontent.com/62553200/140605176-45ac350e-1263-4e99-a769-90d003ae577c.gif)

[2021-11-08 11:00] pdc-quantum commented on #34
### Update for Checkpoint 2

What’s new since Checkpoint 1?

**Modification of the frequentist model from Qiskit experiments:**
When comparing the results of the Bayesian model with those of the frequentist model in Qiskit experiments, a bug was suspected in the latter.
https://github.com/Qiskit/qiskit-experiments/issues/428
It consists of excessive bounds for the error per gate (EPG), not varying

[2021-11-09 06:33] SaraM92 commented on #21
So far in the project, I have finished editing Grover's algorithm chapter but am still working with the team on some feedback and possible edits to improve the chapter. The chapter already had a solid foundation for the algorithm, so I added more details useful for beginners and another significant example to make it easier for readers to understand the different approaches and ways they can desig

[2021-11-10 07:59] pdc-quantum commented on #34
### VISUAL png format 1920 x 1080
![VisualLLN_34__Bayesian_techniques_for_Randomized_B-bicubic](https://user-images.githubusercontent.com/29145045/141072698-32f91c7f-2c2b-41b9-8d7e-1337b31d6301.png)

[2021-11-10 10:35] fs1132429 commented on #5
![GIF-211110_153322](https://user-images.githubusercontent.com/28627285/141097828-6a4ff471-a57a-4d41-8645-bc25505aed21.gif)

[2021-11-10 10:39] fs1132429 commented on #5
[checkpoint 2.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7511964/checkpoint.2.pdf)

Here is the work update and a GIF of H2 unittest iteratively producing computed gradients for checkpoint 2.

[2021-11-10 20:40] rafal-pracht commented on #17
[checkpoint2.odt](https://github.com/qiskit-advocate/qamp-fall-21/files/7515778/checkpoint2.odt)

[2021-11-10 21:30] jvscursulim commented on #27
Since the last checkpoint of Qiskit advocate mentorship program, I’ve been working on two things, the first one is the improvement of results obtained through VQEProgram for the binding energy between proton and neutron in the deuteron. For that I need to transpile the ansatz circuit in order to prevent some SWAP gate being introduced, once each SWAP gate increases the number of CNOT gates in the

[2021-11-10 22:54] desireevl commented on #13
**Checkpoint 2**

This project has been about improving the existing benchmarks and adding more machine learning benchmarks. There are two main ML categories that I have focused on so far: classification and regression.

 When I started this project, a few benchmarks tracking the time taken to run various classification models already existed. These focused on timing fitting, scoring and predictin

[2021-11-11 00:46] tula3and commented on #16
![resized1920](https://user-images.githubusercontent.com/62553200/141216746-3d6a16ab-9a18-44db-92e7-d1693f33ee36.png)

[2021-11-11 01:51] Sinestro38 commented on #4
### Progress
- The initial draft for the QGAN chapter is done!
- The initial draft for the QBM chapter is also done!
- Collaborating with IBM Qiskit Textbook team now to convert jupyter notebook chapters into final webpage with widgets, better design, edited, etc.

### Challenges:
- None at the moment

### Next steps:
- Iterate on final deliverable alongside Satireh  & et al. from Qiskit textbook

[2021-11-11 03:13] jsistosb commented on #17
[QAMP Checkpoint 2.odt](https://github.com/qiskit-advocate/qamp-fall-21/files/7517408/QAMP.Checkpoint.2.odt)

[2021-11-11 04:01] iotaisolutions commented on #39
Latest Project Status report & Architecture diagram,  for 11th Nov, 2021 Checkpoint Meeting.
[#39 Tutorial to use K8S Cluster - 11th Nov_Checkpoint.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7517641/39.Tutorial.to.use.K8S.Cluster.-.11th.Nov_Checkpoint.pdf)
![Architecture of Clustered Backend for Aer Simulator](https://user-images.githubusercontent.com/68344826/141234732-b465833d-e0

[2021-11-11 09:20] jaleipekoglu commented on #44
**Checkpoint 2 Update:**
As a reminder, I am working on refactoring calibration experiment tutorial.

Since Checkpoint 1 (Oct 7, 2021),
* I converted my draft Jupyter notebook to reStructuredText format, which all qiskit-experiments tutorials will be converted to eventually. 
* created my first pull request in qiskit-experiments ([WIP] Refactor tutorial for calibration experiments #499) and added

[2021-11-11 09:20] jaleipekoglu commented on #44
<img width="1121" alt="Screen Shot 2021-11-11 at 12 15 11 PM" src="https://user-images.githubusercontent.com/47296000/141271981-cdd72614-48bd-42fc-928e-5ee4b04cf7ee.png">
<img width="1168" alt="Screen Shot 2021-11-11 at 12 14 15 PM" src="https://user-images.githubusercontent.com/47296000/141271998-c530540b-3e80-484f-9515-6e0e01ca2f4d.png">

[2021-11-11 09:52] mickahell commented on #6
The speech :
[code]

[2021-11-11 09:56] mickahell commented on #6
<details>
  <summary>Screenshots</summary>
<img width="1658" alt="tab" src="https://user-images.githubusercontent.com/20951376/141277731-73530d69-7ab0-4637-80ae-413268325eea.png">
<img width="1652" alt="tab_bis" src="https://user-images.githubusercontent.com/20951376/141277723-61d546b3-da65-4c07-ba21-6378c4f51ba4.png">
<img width="871" alt="actions" src="https://user-images.githubusercontent.com/2

[2021-11-11 09:57] mickahell commented on #6
<img width="1658" alt="tab" src="https://user-images.githubusercontent.com/20951376/141277731-73530d69-7ab0-4637-80ae-413268325eea.png">
<img width="1652" alt="tab_bis" src="https://user-images.githubusercontent.com/20951376/141277723-61d546b3-da65-4c07-ba21-6378c4f51ba4.png">

[2021-11-11 09:57] mickahell commented on #6
<img width="871" alt="actions" src="https://user-images.githubusercontent.com/20951376/141277920-6e229bca-24e1-4765-a9b3-71b855ebde83.png">
<img width="1496" alt="dasboard" src="https://user-images.githubusercontent.com/20951376/141277929-6a6bb262-fdb6-4246-a5d7-5e2c3013b5d8.png">

[2021-11-11 09:58] mickahell commented on #6
![functional-structure](https://user-images.githubusercontent.com/20951376/141278007-5bcb3509-1ebd-40f6-b43f-f0bfdb90fc48.png)
![sub-wf](https://user-images.githubusercontent.com/20951376/141278022-a7f61188-ea98-448c-9a95-2e57df5c5b5c.png)
![weekly-wf](https://user-images.githubusercontent.com/20951376/141278027-62e63f76-d366-44d4-9e69-041d6d829ac3.png)

[2021-11-11 10:43] AmauryDM commented on #1
**Checkpoint 2**

In this project, our goal was to study how we could enhance images using quantum operations. After a brief survey of papers on the subject of quantum image processing and practical applications, we realized there were not a lot of research in this area. Thus, we had to go back at the start and study everything that was related to image processing both in classical and quantum com

[2021-11-11 11:24] quantum-kittens commented on #42
**Checkpoint 2:**

We've got a cloud app!! That's our update. The app is up and running on Heroku, but we haven't released it yet as we need to comb through it a couple more times and tweak some things.

Here's a sneak peek! There are two ways to generate artwork. This shows the Preset Noise option, which creates a slideshow of art generated with preset levels of noise.

Before text input:
![Prese

[2021-11-11 13:03] mrvee-qC commented on #23
# Checkpoint 2, November 11

For a unified report, please check out our dedicated website page for this mentorship project!  [https://mentor-fall2021-openqasm.github.io/posts/checkpoint-2/](https://mentor-fall2021-openqasm.github.io/posts/checkpoint-2/)

# Summary since October 7 Checkpoint #1

### Progress Summary

The version 1 of the implementation showcased on October 7 - Checkpoint #1 now has

[2021-11-11 13:07] mrvee-qC commented on #23
# PDF Report
<img src="https://user-images.githubusercontent.com/61380731/141302855-98fbf413-88c3-4542-be14-350d5e1d7824.png" alt="alt text" width="565.6" height="800">

Link for pdf: [QAMPCheckpoint#2.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7520577/QAMPCheckpoint.2.pdf)

(Also you can check it out at our website! :) [https://mentor-fall2021-openqasm.github.io/posts/checkpoint-2

[2021-11-11 13:29] KathrinKoenig commented on #12
Graph and report for checkpoint 2:
![Boxplot_Calibrations](https://user-images.githubusercontent.com/67575757/141307252-f427d010-5265-4c29-8ef0-90fc348c9e3c.png)
[Boxplot_calibrations.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7520676/Boxplot_calibrations.pdf)
[Checkpoint 2_Report_Benchmarking Crosspoint Calibration.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7520696

[2021-11-11 14:21] smmchugh-08 commented on #15
Checkpoint 2 (with @hjk068):

The basic front-end of the application is in place, allowing a user to drag-and-drop three components - capacitor, inductor, and ground - onto the canvas and draw the connections between them. Multiples of any of the three components can be created.  Support for Josephson junctions and subsystems is in progress, as well as adding pictorial representations of the compo

[2021-11-11 14:49] cnktysz commented on #14
### Checkpoint 2 Update
The goal of this project is to profile common algorithms in qiskit machine learning, find the bottlenecks and potentially improve overall performance. Since, the first checkpoint one PR ([#247](https://github.com/Qiskit/qiskit-machine-learning/pull/247)) has been made and merged to the main qiskit machine learning repository. The issue was first observed in the profiler out

[2021-11-11 14:57] ElePT commented on #43
And here is the update for **checkpoint 2**:

Because the original project definition was quite open, for checkpoint 2 we have focused on developing a more concrete approach to benchmarking QML algorithms, starting with Quantum Neural Networks.

On one hand, we have selected **two datasets** to use throughout the project:
1.	The first dataset is a simple 2D classification dataset, where points are

[2021-11-11 14:58] ElePT commented on #43
As for the image, here is the visual comparison of the quantum and classical networks on the credit card dataset:

![image](https://user-images.githubusercontent.com/57907331/141319668-7b0ca6b4-ecba-4216-97b5-a474a69f7cf7.png)

[2021-11-11 15:14] gunchamalik commented on #33
[#33 Qiskit Lab Manual - Checkpoint 2.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7521385/Qiskit.Lab.Manual.-.Checkpoint.2.pdf)

[2021-11-11 15:48] wslu42 commented on #11
This past month I started to use qisge to re-write my previous quantum game qshooter. I completed mostly front-end works in the past month:
1. Understand programming flow for qisge
2. Basic game layout for graphics
3. Taking user input and use as in-game movements

I will be working on the backend including quantum simulator and collisions detection etc in the following month and complete tutorial

[2021-11-11 15:57] born-2learn commented on #45
[@HuangJunye ] QAMP Checkpoint 2 : Progress (@nkanazawa1989 @kUmezawa )

The work done since checkpoint 1 has rather been theoretical. I've gotten to understand & appreciate the Rabi oscillations and the IQ complex vector output that we obtain once the experiments are run. In my earlier work, the sideband modulated pulse had been gotten rid of by using frequency shift commands from the new 'freque

[2021-11-11 16:39] wmurphy-collabstar commented on #2
Here's a screenshot of some of our work so far. @bartubisgin will add the summary of our progress after.

<img width="1620" alt="Screen Shot 2021-11-11 at 11 35 45 AM" src="https://user-images.githubusercontent.com/56129494/141335085-e6f0b306-68f1-483f-a52e-6324c22226e9.png">

[2021-11-11 17:08] TheGupta2012 commented on #24
These are the November 11 review reports.

## Written Report
[November-Checkpoint-#24-timeline-debugger-for-transpiler.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7522035/November-Checkpoint-.24-timeline-debugger-for-transpiler.pdf)

## Visual Representation
The following images contain the proposed final design for the timeline debugger. For some initial implementations, please ref

[2021-11-11 17:31] e-eight commented on #20
Checkpoint 2 update: Since checkpoint 1, I have learned more about the retworkx library, and rust in general. I have submitted a PR Qiskit/retworkx#471 for the generator of Barbell graphs. I am currently working on adding the symmetric difference operation for graphs.
![barbell](https://user-images.githubusercontent.com/3883241/141342689-c8b03f71-a462-4a51-a74c-93e271e647e0.png)

[2021-11-11 17:41] brandhsn commented on #18
[QAMP_Report_18.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7522247/QAMP_Report_18.pdf)
[qamp_18.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7522250/qamp_18.pdf)
![qamp_18](https://user-images.githubusercontent.com/23399754/141344070-94a45d19-8b18-426f-a9a4-6ea5a249f622.png)

[2021-11-11 19:36] alejomonbar commented on #8
Since checkpoint 1, I have solved some issues with my pull request about benchmarking code for the knapsack problem and now it is merged. Those problems included a bad choice of parameters for the benchmarking, and a bad election in the number of qubits for the grover_optimizer.

I added a test for the Bin Packing problem application and a new tool for plotting the results of the bin packing probl

[2021-11-11 19:37] alejomonbar commented on #8
[Checkpoint 2.pptx](https://github.com/qiskit-advocate/qamp-fall-21/files/7522866/Checkpoint.2.pptx)

[2021-11-11 20:12] amirebrahimi commented on #30
Checkpoint 2:
We have completed extending the library to have rectangular surface code encoding/decoding with yaleqc/qtcodes#58
We have a PR in-flight (yaleqc/qtcodes#53) for allowing different logical qubit types to be used in a circuit together.

Additionally, we removed a previous dependency on pydot for qtcodes and now use matplotlib drawing via retworkx (yaleqc/qtcodes#57)

<img width="960" a

[2021-11-11 20:22] bartubisgin commented on #2
[QAMP 2021 - Update 2.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7523080/QAMP.2021.-.Update.2.pdf)

[2021-11-11 20:57] anamariarojas123 commented on #39
Thank you for the updates! @iotaisolutions could you also please provide the short (500 words or less) update on the work you've achieved since Checkpoint 1 via comment here?

[2021-11-11 20:57] anamariarojas123 commented on #24
Thank you for the updates! @TheGupta2012 could you also please provide the short (500 words or less) update on the work you've achieved since Checkpoint 1 via comment here?

[2021-11-11 21:00] anamariarojas123 commented on #17
Thank you for the updates! @rafal-pracht @jsistos Could you please add your visuals as well?

[2021-11-11 21:14] charmerDark commented on #28
While the first phase of the project was more focused on selecting the method to implement and their pros and cons, this phase deals more with implementation. The variational quantum deflation algorithm was chosen to be implemented from among the options.  We first looked at the code in Qiskit Terra for VQE, Qiskit tutorials and some of the existing unit tests to become familiar with the methods.

[2021-11-11 21:14] anamariarojas123 commented on #7
@abzsd @AnDa-creator @epelaaez @String137 @singhmeet11 Please submit materials for checkpoint 2. :)

[2021-11-11 21:15] anamariarojas123 commented on #9
@mattwright99 Please submit materials for checkpoint 2. :)

[2021-11-11 21:16] SaashaJoshi commented on #20
[QAMP Checkpoint 2.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7523311/QAMP.Checkpoint.2.pdf)

[2021-11-11 21:16] anamariarojas123 commented on #20
@Morcu @IvanIsCoding @SaashaJoshi @VedDharkar Please submit materials for checkpoint 2. :)

[2021-11-11 21:18] anamariarojas123 commented on #29
@starktech23 Please update with checkpoint 2 materials! :)

[2021-11-11 21:19] mehilagarwal commented on #35
The first phase of the project is to include reinforcement learning (RL) as a classical optimization algorithm to support the quantum approximate optimization algorithm (QAOA).
At each predefined step, we update the observation_space (QAOA parameter space) based on the information stored in the active_space (allowed actions and rewords). Then the expectation value is calculated on the quantum back

[2021-11-11 21:25] IvanIsCoding commented on #20
Checkpoint 2 update: we posted the [preprint for the retworkx software paper on the arxiv](https://arxiv.org/abs/2110.15221) and submitted it to a journal, it is currently under review. I am working now on [depositing retworkx's code on Zenodo](https://github.com/Qiskit/retworkx/issues/481) and also on adding Python type annotations to retworkx.

![joss](https://user-images.githubusercontent.com/8

[2021-11-11 21:29] epelaaez commented on #7
[QAMP 2021 second checkpoint: circuit approach.](https://github.com/qiskit-advocate/qamp-fall-21/files/7523343/Qiskit.Rotations.Second.Checkpoint.-.Circuit.Approach.pdf)

Here is the first part of the checkpoint, which talks about the circuit approach we are developing.

[2021-11-11 21:38] singhmeet11 commented on #7
Here is the second part of the checkpoint, which talks about the variational approach we are developing.

[QAMP 2021 second checkpoint: Variational Approach.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7523398/Variational.Approach.pdf)

[2021-11-12 01:11] spencerking commented on #44
**Checkpoint 2 Update**

Since the first checkpoint I have submitted two pull requests, one for refactoring an existing tutorial and another for the initial draft of a new tutorial. The refactor was for the cloud services tutorial and has been primarily just been a conversion of the existing Jupyter notebook into the reStructuredText format that will be used moving forward. The new tutorial shows

[2021-11-12 03:03] bicycle315 commented on #44
**Checkpoint 2 Update**
At first checkpoint, I made a composite experiment using `ParallelExperiment` about characterizing multi qubits(T1, T2, frequencies).

- I added RB experiments on my existing composite experiment guide. This way my guide can provide a complete method for verifying a backend since it contains characterization of qubits and measuring  the individual gate fideltities
- My guid

[2021-11-12 04:42] mattwright99 commented on #9
![QAMP-checkin-2-visual](https://user-images.githubusercontent.com/44040188/141410768-869c84ef-5d11-40c7-a83c-31dc90f70b71.jpg)
[QAMP-checkin-2-doc.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7524957/QAMP-checkin-2-doc.pdf)

[2021-11-12 05:05] iotaisolutions commented on #39
#Update for Checkpoint 2#

1.  Infrastructure Design & Setup Complete using Kubernetes (One Master , 2 Nodes) , DASK Kubernetes, Python 3.8  on Ubuntu 20.04 LTS OS platform on AWS Cloud.
2. Configured auto-scaling both at Kubernetes nodes and DASK worker node level, in this case DASK worker nodes can scale up and down on basis of workload from jobs submitted to Aer Simulator.
3. Updated Architectu

[2021-11-12 05:36] kaminotesf commented on #32
QAMP Checkpoint 2 : Progress

Since the last checkpoint, our team mainly focused on developing the qiskit code to realize a Quantum ODE Solver with VQA based approaches. Thanks to @Adarsh Chandrashekhar's effort, we are able to run the solver for very basic ODE and Boundary conditions. The main issue now is the runtime of our code goes really slow for a 6-qubit sample problem and we will try to im

[2021-11-12 06:18] snsunx commented on #25
I pushed three commits and had some discussions with Dr. Naoki Kanazawa on the PR. Since I made many changes which don't fit the newest design philosophy of Qiskit, I will close the PR and start again. Meanwhile I learned about how to resolve DevOps checking failures, such as how to write proper deprecation statements.

[2021-11-12 06:41] snsunx commented on #25
Here is a visual representation of my project so far.

![Presentation1-1](https://user-images.githubusercontent.com/38364942/141421693-fd45d086-02d0-48bf-b36d-7c7f67c9b94b.png)

[2021-11-12 09:35] TheGupta2012 commented on #24
# Project Update - November 11
Developed two working prototypes for the transpiler timeline debugger which would enable users to see how and what changes are happening while transpiling a single quantum circuit

## Finalised Design
- Our final debugger is being developed as a jupyter widget and consists of three main components :
    - Description of the circuit, backend and transpiler arguments p

[2021-11-12 09:36] TheGupta2012 commented on #24
I have also added the implementation images here for quick referencing. Hope this is fine!

[2021-11-12 11:34] obliviateandsurrender commented on #22
We have implemented two classes: `ThreeLevelDiscriminator` and `ThreeLevelDiscriminatorAnalysis`, which would perform the `Excited State Promoted (ESP) readout` experiments and analysis in the _qiskit-experiments_ module. We are trying to use the currently available functionalities in the modules for its implementation as much as possible to keep things modular, namely, using `QubitSpectroscopy` a

[2021-11-12 13:36] shil-m commented on #11
Since checkpoint-1, I have tried setting up different backgrounds and movements of sprites to learn how Qisge works in the Unity platform. I have worked on game movements and frame changes based on the user inputs. I have decided on the logic of the game and have created the interface for the main menu as shown below. This month I will be working on creating the rest of the game i.e. implementing

[2021-11-12 15:31] anamariarojas123 commented on #20
@VedDharkar @Morcu Please add your checkpoint 2 materials when ready!

[2021-11-12 15:57] Morcu commented on #20
Checkpoint 2 update:  I continue studying the Rust programming language, I have made the PR [463](https://github.com/Qiskit/retworkx/pull/463) to which I have to make some changes, the PR adds a generator for r-ary trees. I am also working on this [comment of the generator module 150](https://github.com/Qiskit/retworkx/issues/150#issuecomment-945284818)

Example of the r-ary tree:
![r-ary](https:/

[2021-11-14 02:28] e-eight commented on #28
@charmerDark @abhishekjay Are either of you working on the SSVQE algorithm? I have implemented that, but since you are working on this project I figured that I would coordinate with you.

[2021-11-18 03:33] obrienpja commented on #16
Hi! Is it alright if I join in on this issue?

[2021-11-18 09:06] marcolincs commented on #16
Hi @obrienpja , please reach out to @quantum-quant . You can chat with him on the Qiskit slack workspace.

[2021-12-07 18:16] AmauryDM commented on #1
[#1 Quantum Image Processing - Filters - Final Showcase.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7670677/1.Quantum.Image.Processing.-.Filters.-.Final.Showcase.pdf)

[2021-12-07 19:27] iotaisolutions commented on #39
Published the tutorial on github : https://github.com/iotaisolutions/qamp-fall-2021/ which was reviewed by mentor.

Attaching the supporting report, which will be used for  presentation.
[#39 Tutorial to use K8S Cluster_Final Report.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7671068/39.Tutorial.to.use.K8S.Cluster_Final.Report.pdf)

[2021-12-08 07:56] fs1132429 commented on #5
Here is my final presentation slides 🙂
[adapt_vqe_final.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7674290/adapt_vqe_final.pdf)

[2021-12-08 14:30] bala-ceg commented on #6
Final Check Point Presentation
[qiskitecosystem_qampfinalcheckpoint.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7676670/qiskitecosystem_qampfinalcheckpoint.pdf)

[2021-12-08 14:49] cnktysz commented on #14
### Final Presentation

[#14 Analyze and improve performance of Qiskit Machine Learning.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7676792/14.Analyze.and.improve.performance.of.Qiskit.Machine.Learning.pdf)

[2021-12-08 15:52] iotaisolutions commented on #39
Updated presentation
[#39 Tutorial to use K8S Cluster_Final Report.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7677223/39.Tutorial.to.use.K8S.Cluster_Final.Report.pdf)

[2021-12-08 19:18] iotaisolutions commented on #39
Youtube link of presentation for 9th Dec QAMP 2021 session  https://www.youtube.com/watch?v=WyZw_xphKMI

[2021-12-08 19:31] wmurphy-collabstar commented on #2
Here is our presentation slide deck for tomorrow's presentation between 10 am - 12 pm EST tomorrow:
[Final Qiskit Textbook learning path Presentation.pptx](https://github.com/qiskit-advocate/qamp-fall-21/files/7678420/Final.Qiskit.Textbook.learning.path.Presentation.pptx)

[2021-12-08 20:55] pdc-quantum commented on #34
Slides for Final Showcase
[Dec 9 N {34}  {Bayesian techniques for Randomized Benchmarking (cont.)}.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7677256/Dec.9.N.34.Bayesian.techniques.for.Randomized.Benchmarking.cont.pdf)
[Dec 9 N {34}  {Bayesian techniques for Randomized Benchmarking (cont.)}.pptx](https://github.com/qiskit-advocate/qamp-fall-21/files/7678898/Dec.9.N.34.Bayesian.tech

[2021-12-08 21:22] brandhsn commented on #18
Final QAMP presentation
[#18 CircuitPulse optimization across different quantum hardware modalities_final.pptx](https://github.com/qiskit-advocate/qamp-fall-21/files/7679026/18.CircuitPulse.optimization.across.different.quantum.hardware.modalities_final.pptx)

[2021-12-08 22:41] nelimee commented on #23
Here is our submission! @AbeerVaishnav13  @nelimee  @jwoehr  @mrvee-qC
[QAMP21_Checkpoint3.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7679399/QAMP21_Checkpoint3.pdf)

[2021-12-08 22:44] nelimee commented on #23
Here is our submission! @AbeerVaishnav13 @nelimee @jwoehr @mrvee-qC
[QAMP21_Checkpoint3.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7680917/QAMP21_Checkpoint3.pdf)

[2021-12-08 22:48] nelimee commented on #23
Here is our submission! @AbeerVaishnav13 @nelimee @jwoehr @mrvee-qC
[QAMP21_Checkpoint3.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7680933/QAMP21_Checkpoint3.pdf)

[2021-12-08 22:53] ElePT commented on #43
The final slides are the following:
[Final_ppt_issue_43.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7680952/Final_ppt_issue_43.pdf)

[2021-12-08 23:43] desireevl commented on #13
Final presentation
[#13 Add Performance Benchmarks for Qiskit Machine Learning.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7681143/13.Add.Performance.Benchmarks.for.Qiskit.Machine.Learning.pdf)

[2021-12-09 03:38] wslu42 commented on #11
I have created a place holder and will be populating the writing guide for this project here. Need some more time working on the content... https://github.com/wslu42/qfireman_qisge

[2021-12-09 03:51] hjk068 commented on #15
Hyun Jin Kim - Final checkpoint powerpoint (will upload recording instead of presenting on Dec 9th)

[Graph_Conversion_Final_Checkpoint.pptx](https://github.com/qiskit-advocate/qamp-fall-21/files/7682066/Graph_Conversion_Final_Checkpoint.pptx)

[2021-12-09 04:04] bicycle315 commented on #44
[Uploading 9b23fb64483062d80afb4d86579cbfec.pdf…]()

[2021-12-09 04:05] bicycle315 commented on #44
[JWKim.pdf.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7682137/JWKim.pdf.pdf)

[2021-12-09 04:11] amirebrahimi commented on #30
for 12/9:
[#30 QEC_ Extend qtcodes (Final Report).pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7682152/30.QEC_.Extend.qtcodes.Final.Report.pdf)

[2021-12-09 04:51] jsistosb commented on #17
Our slides for the final showcase!

[#17 Qiskit compatibility with Parameters.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7682317/17.Qiskit.compatibility.with.Parameters.pdf)

[2021-12-09 06:59] jaleipekoglu commented on #44
[#44 Update qiskit-experiment tutorials-final - Jale Ipekoglu.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7682923/44.Update.qiskit-experiment.tutorials-final.-.Jale.Ipekoglu.pdf)

[2021-12-09 07:40] gunchamalik commented on #33
Final Showcase presentation
[#33 Qiskit Lab Manual - Final Showcase.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7683111/Qiskit.Lab.Manual.-.Final.Showcase.pdf)

[2021-12-09 08:19] tula3and commented on #16
For the final showcase in session 1: [#16 Qiskit Metal to cloud-ready.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7683360/16.Qiskit.Metal.to.cloud-ready.pdf)

[2021-12-09 09:54] TheGupta2012 commented on #24
These are the presentation slides for the final review :
[Timeline Debugger for Transpiler - December checkpoint](https://github.com/qiskit-advocate/qamp-fall-21/files/7684010/presentation.pdf)
This is just a small presentation in addition to our final demo for the project!

[2021-12-09 10:00] epelaaez commented on #7
The Jupyter notebook that will serve as presentation for the circuit approach in the final checkpoint of the QAMP can be found [here](https://drive.google.com/file/d/1TEPLd4pVfcnQnSYmPNBASFijpjpYOu4_/view?usp=sharing).

[2021-12-09 10:51] jaleipekoglu commented on #44
Here is my related PR for the calibration tutorial: https://github.com/Qiskit/qiskit-experiments/pull/499

[2021-12-09 11:04] singhmeet11 commented on #7
The jupyter notebook which will be used for presentation for the variational approach in the final checkpoint of the QAMP can be found [here](https://drive.google.com/file/d/1JTvKQ5APVfrT0mxMx-Bvmkz3pQC9juEf/view?usp=sharing).

[2021-12-09 14:00] KathrinKoenig commented on #12
Slides for final checkpoint part 2
[#12_Benchmarking_Crosspoint_Calibration_Results_final.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7685643/12_Benchmarking_Crosspoint_Calibration_Results_final.pdf)

[2021-12-09 15:38] e-eight commented on #20
Final presentation.
[Good first issues in retworkx.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7686415/Good.first.issues.in.retworkx.1.pdf)

[2021-12-09 17:03] mrvee-qC commented on #23
Updated submission: @AbeerVaishnav13 @nelimee @jwoehr @mrvee-qC

Presentation: [QAMP21_Checkpoint3.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7687198/QAMP21_Checkpoint3.pdf)

![QAMP21_Checkpoint3](https://user-images.githubusercontent.com/61380731/145442051-fb84bf09-32cc-486d-b3f4-9ec0e369ab5e.png)

[2021-12-09 17:11] starktech23 commented on #29
[Advocates Mentorship - final checkpoint.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7687108/Advocates.Mentorship.-.final.checkpoint.pdf)

[2021-12-09 18:30] IvanIsCoding commented on #20
Almost forgot to upload the presentation
[Good first issues in retworkx.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7687585/Good.first.issues.in.retworkx.pdf)

[2021-12-09 18:38] amirebrahimi commented on #30
Here's the "final final":
[#30 QEC_ Extend qtcodes (Final Report).pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7687615/30.QEC_.Extend.qtcodes.Final.Report.pdf)

[2021-12-09 19:25] SaashaJoshi commented on #20
[QAMP Final - Saasha Joshi.pptx.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7687878/QAMP.Final.-.Saasha.Joshi.pptx.pdf)

[2021-12-19 10:19] pdc-quantum commented on #34
## Final Showcase (1/4)

This text refers to the presentation slide [here](https://github.com/qiskit-advocate/qamp-fall-21/files/7677256/Dec.9.N.34.Bayesian.techniques.for.Randomized.Benchmarking.cont.pdf).

Qiskit experiments gave more opportunity for hardware testing of the Bayesian statistical model (BSM) and comparison with the frequentist statistical model (FSM), thanks to:
-	The multi_curve_

[2021-12-19 10:19] pdc-quantum commented on #34
## Final Showcase (2/4)
### Hardware Demonstration of a Bayesian Advantage in RB:
####	One-qubit interleaved RB (slide 3):
#####	All 15 qubits from three 5-qubits devices
#####	Protocol:
-	Sixteen equally spaced sequence lengths
-	Maximal sequence length: 1500 Cliffords
-	Fifteen sampled RB sequences
-	Five jobs on fair share queuing for a total of 480 circuits
#####	Results:
-	Correlation between

[2021-12-19 10:49] pdc-quantum commented on #34
## Final Showcase (3/4)
### Hardware comparison between standard mode and interleaved mode

####	Comparison between standard mode and interleaved mode for one-qubit gate:
#####	3 qubits ( [0] ) from three devices with Pauli-X EPG by calibration less than .00025.
#####	Protocol: designed to require nearly equal quantum computational resources
-	Ten equally spaced sequence lengths
-	Maximal sequence

[2021-12-19 10:54] pdc-quantum commented on #34
## Final Showcase (4/4)

### Additional observations (slide 5):
-	Thanks to multiple chains in the MCMC algorithm, BSM can reveal accessory minima missed by FSM by displaying a double-peak posterior distribution.
-	References value must be considered with caution because significant fluctuations between two daily hardware calibrations are not excluded.
-	Fair share queuing may involve long delay b

[2021-12-30 03:07] tula3and commented on #16
Updated version of the first comment.

---

# Description

(no changes)

# Mentor/s

@marcolincs, @quantum-quant

# Participants

@scottwn, @tula3and

# Deliverable

- [metal-docker](https://github.com/qiskit-metal-cloud/metal-docker)
- [qc-spice-visualization](https://github.com/tula3and/qc-spice)
  - [details are on @tula3and's blog](https://tula3and.github.io/project/project-react-visualization

[2022-01-03 10:30] shil-m commented on #11
Please refer to this game folder: https://github.com/shil-m/SwappingQubits  (Status: Updating)

[2022-01-12 10:30] HuangJunye commented on #44
@jaleipekoglu Thanks for linking the PR here. @spencerking @bicycle315 Have you submitted your PRs for the project? Can you please provide the links here?

[2022-01-12 10:31] HuangJunye commented on #42
@quantum-kittens Can you please upload your final presentation here?

[2022-01-12 10:33] HuangJunye commented on #44
I found this PR: https://github.com/Qiskit/qiskit-experiments/pull/511 by @bicycle315 .

[2022-01-12 10:34] HuangJunye commented on #39
@iotaisolutions @hhorii What's the status of the tutorial? Is there any plan to integrate to the official Qiskit Tutorials?

[2022-01-12 10:35] HuangJunye commented on #35
The mentees can you please upload the final presentation here?

[2022-01-12 10:36] HuangJunye commented on #33
@gunchamalik What's the status of the project now? Is there plan to integrate into the textbook?

[2022-01-12 10:37] HuangJunye commented on #32
The mentees can you please upload the final presentation slides here? Thank you!

[2022-01-12 10:39] HuangJunye commented on #30
@amirebrahimi Can you please link the PRs you have done during QAMP here? A quick search showed 6 PRs on the qtcodes repo, but it would be good to have your confirmation: https://github.com/yaleqc/qtcodes/pulls?q=is%3Apr+is%3Aclosed+author%3Aamirebrahimi

[2022-01-12 10:41] HuangJunye commented on #28
@charmerDark @abhishekjay Can you please upload the final presentation slides and link your pull requests if any here? Thank you!

[2022-01-12 10:42] HuangJunye commented on #27
@SiddharthaMorales @jvscursulim Can you please upload the final presentation slides and link your pull requests if any here? Thank you!

[2022-01-12 10:43] HuangJunye commented on #25
@snsunx Can you please upload the final presentation slides and link your pull requests if any here? Thank you!

[2022-01-12 10:51] HuangJunye commented on #22
@obliviateandsurrender Can you please upload the final presentation slides and link your pull requests if any here? Thank you!

[2022-01-12 10:51] HuangJunye commented on #21
@SaraM92 Can you please upload the final presentation slides and link your pull requests if any here? Thank you!

[2022-01-12 11:18] HuangJunye commented on #8
Linking the PRs for this project for future references
- https://github.com/Qiskit/qiskit-app-benchmarks/pull/24
- https://github.com/Qiskit/qiskit-optimization/pull/258

[2022-01-12 11:23] HuangJunye commented on #6
Linking the PRs for this project for future references. Thanks for the awesome work and also marking the PR with QAMP label! https://github.com/qiskit-community/ecosystem/pulls?q=is%3Apr+is%3Aclosed+label%3A%22QAMP+fall+2021%22

[2022-01-12 11:26] HuangJunye commented on #4
@MaldoAlberto @Sinestro38 Can you please upload the final presentation slides and link your pull requests if any here? Thank you!

[2022-01-12 13:07] bicycle315 commented on #44
@HuangJunye  There's a problem related to using real backend in the tutorial. Im still waiting for the pr to be merged

[2022-01-12 14:21] Sinestro38 commented on #4
@HuangJunye We didn't have any presentation slides as the chapter preview served that purpose but this is the PR  Qiskit/platypus#379

[2022-01-12 14:50] mickahell commented on #6
@HuangJunye maybe this can be helpful :
https://github.com/qiskit-community/ecosystem/projects/1

[2022-01-13 00:30] amirebrahimi commented on #30
Sure thing, @HuangJunye.

yaleqc/qtcodes#51 (fixed some tutorial issues)
yaleqc/qtcodes#57 (removed pydot dependency)
yaleqc/qtcodes#58 (added rectangular surface code geometry support)
yaleqc/qtcodes#69 (refactored repetition qubit to be an XXZZ surface code and also added a phase-flip protected version)
yaleqc/qtcodes#72 (consolidated various tests throughout the project to use common code)

[2022-01-13 07:50] iotaisolutions commented on #39
@HuangJunye I will be submitting a PR for Qiskit Tutorial @hhorii

[2022-01-13 09:34] gunchamalik commented on #33
@HuangJunye Check-ins have already been done. I have to make some indexing updates which I will target to address over the coming weekend.

[2022-01-13 09:34] gunchamalik commented on #33
Here's the pull request for reference https://github.com/Qiskit/platypus/pull/232#pullrequestreview-845722775

[2022-01-17 04:43] snsunx commented on #25
@HuangJunye Sorry I don't have a finished pull request so I will not be able to upload it here. Thanks for organizing the program.

[2022-01-17 19:23] obliviateandsurrender commented on #22
[Machine_Learning_based_Discrimination_for_Excited_State_Promoted_Readout.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7884234/Machine_Learning_based_Discrimination_for_Excited_State_Promoted_Readout.pdf)
[#22 Clustering Methods for  Excited State Promoted Readout.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7884246/22.Clustering.Methods.for.Excited.State.Promoted.Reado

[2022-01-20 03:15] jvscursulim commented on #27
[#27 Add Qiskit Nature demonstrations for physics problems - December.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7902005/27.Add.Qiskit.Nature.demonstrations.for.physics.problems.-.December.pdf)

[2022-01-21 05:29] charmerDark commented on #28
[Qiskit Advocate Mentorship Program - Final Showcase.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/7910653/Qiskit.Advocate.Mentorship.Program.-.Final.Showcase.pdf)
Sorry about the delay!

[2022-01-26 12:27] gunchamalik commented on #33
All code has been merged and is available in preview. Latest updates can be tracked via ticket https://github.com/Qiskit/platypus/pull/295

[2022-01-28 12:25] gunchamalik commented on #33
@HuangJunye Both the lab manuals have been published:
https://learn.qiskit.org/course/ch-labs/lab-2-single-qubit-gates
https://learn.qiskit.org/course/ch-labs/lab-4-bell-ghz-circuit

It was a great experience to be a part of this program! Looking forward to many more!

@ManjulaGandhi thanks for your guidance on creating these lab manuals!

[2022-02-05 08:20] quantum-kittens commented on #42
@HuangJunye Sorry I missed the tag. No slides, gave a live demo of the web app during the showcase.

Here's the web app: http://qartgen.herokuapp.com/

[2022-02-07 03:56] starktech23 commented on #29
Hi @anamariarojas123 @HuangJunye, I missed adding Checkpoint 2 materials earlier so I'm uploading them here for reference, here's a poster I made a while back for the same. Thanks!
[QAMPposter.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/8012197/QAMPposter.pdf)

[2022-02-07 04:16] amitracal commented on #35
[QRL#35_Dec9 (1).pptx](https://github.com/qiskit-advocate/qamp-fall-21/files/8012263/QRL.35_Dec9.1.pptx)

[2022-02-07 04:16] amitracal commented on #35
[Uploading #35 Quantum Reinforcement Learning.pptx…]()

[2022-02-07 04:18] amitracal commented on #35
@HuangJunye both presentations for the two checkpoints are uploaded now
@olgaatgh @deepquantum88 @da66 @vkumar19 @mehilagarwal FYI

[2022-04-07 18:06] Morcu commented on #6
[#6 Qiskit-Braket plugin.pdf](https://github.com/qiskit-advocate/qamp-fall-21/files/8445430/6.Qiskit-Braket.plugin.pdf)